$image-url :"../../common/images/left-menu/new";
.menu10 {
    background-image: url(#{$image-url}/menu-icon1-hover.png);
    background-repeat: no-repeat;
  }
  .menu19 {
    background-image: url(#{$image-url}/menu-icon2-hover.png);
    background-repeat: no-repeat;
  }
  .menu20 {
    background-image: url(#{$image-url}/menu-icon3-hover.png);
    background-repeat: no-repeat;
  }
  .menu21 {
    background-image: url(#{$image-url}/menu-icon4-hover.png);
    background-repeat: no-repeat;
  }
  .menu22 {
    background-image: url(#{$image-url}/menu-icon5-hover.png);
    background-repeat: no-repeat;
  }
  .menu23 {
    background-image: url(#{$image-url}/menu-icon6-hover.png);
    background-repeat: no-repeat;
  }
  .menu24 {
    background-image: url(#{$image-url}/menu-icon7-hover.png);
    background-repeat: no-repeat;
  }
  .menu25 {
    background-image: url(#{$image-url}/menu-icon8-hover.png);
    background-repeat: no-repeat;
  }

   .menu26 {
    background-image: url(#{$image-url}/menu-icon9-hover.png);
    background-repeat: no-repeat;
  }
   .menu27 {
    background-image: url(#{$image-url}/menu-icon10-hover.png);
    background-repeat: no-repeat;
  }
   .menu28 {
    background-image: url(#{$image-url}/menu-icon11-hover.png);
    background-repeat: no-repeat;
  }
   .menu29 {
    background-image: url(#{$image-url}/menu-icon12-hover.png);
    background-repeat: no-repeat;
  }
   .menu30 {
    background-image: url(#{$image-url}/menu-icon13-hover.png);
    background-repeat: no-repeat;
  }
   .menu31 {
    background-image: url(#{$image-url}/menu-icon14-hover.png);
    background-repeat: no-repeat;
  }
   .menu32 {
    background-image: url(#{$image-url}/menu-icon15-hover.png);
    background-repeat: no-repeat;
  }
   .menu33 {
    background-image: url(#{$image-url}/menu-icon16-hover.png);
    background-repeat: no-repeat;
  }
   .menu34 {
    background-image: url(#{$image-url}/menu-icon17-hover.png);
    background-repeat: no-repeat;
  }
   .menu35 {
    background-image: url(#{$image-url}/menu-icon18-hover.png);
    background-repeat: no-repeat;
  }
   .menu36 {
    background-image: url(#{$image-url}/menu-icon19-hover.png);
    background-repeat: no-repeat;
  }
   .menu37 {
    background-image: url(#{$image-url}/menu-icon20-hover.png);
    background-repeat: no-repeat;
  }
   .menu38 {
    background-image: url(#{$image-url}/menu-icon21-hover.png);
    background-repeat: no-repeat;
  }
   .menu39 {
    background-image: url(#{$image-url}/menu-icon22-hover.png);
    background-repeat: no-repeat;
  }
   .menu40 {
    background-image: url(#{$image-url}/menu-icon23-hover.png);
    background-repeat: no-repeat;
  }
   .menu41 {
    background-image: url(#{$image-url}/menu-icon24-hover.png);
    background-repeat: no-repeat;
  }
   .menu42 {
    background-image: url(#{$image-url}/menu-icon25-hover.png);
    background-repeat: no-repeat;
  }
   .menu43 {
    background-image: url(#{$image-url}/menu-icon26-hover.png);
    background-repeat: no-repeat;
  }
   .menu44 {
    background-image: url(#{$image-url}/menu-icon27-hover.png);
    background-repeat: no-repeat;
  }