.myFrame {
    .frame-block-wrapper {
        padding-left: 100px;
        background-position: 26px 36px;
    }
}

body {
    font-family: "Microsoft YaHei"!important;
}

.link {
    float: right;
    margin-right: 20px;
    color: #0099ff;
    font-size: 14px;
    line-height: 37px;
    text-decoration: underline;
    &:hover {
        color: #ff6600;
        .add {
            background: url("../images/icon-add-active.png") no-repeat left center;
            background-size: 12px 12px;
        }
        .ImportFile {
            background: url("../images/icon-import-active.png") no-repeat left center;
            background-size: 16px 16px;
        }
    }
    .add {
        padding-left: 16px;
        background: url("../images/icon-add.png") no-repeat left center;
        background-size: 12px 12px;
    }
    .ImportFile {
        padding-left: 20px;
        background: url("../images/icon-import.png") no-repeat left center;
        background-size: 16px 16px;
    }
    span {
        text-decoration: underline;
    }
}

.divide {
    position: relative;
    font-size: 14px;
    color: #c9e1f0;
    top: -1px;
    margin: 0 12px;
}