.component-adjust-classroom-wrapper{

  color: #333333;


  .header-search{

    height: 40px;

    background-color: #eeeeee;

    .search_container{

      float: right;

      margin-top: 6px;

      margin-right:12px;

    }

  }

  .left-classroom-type{

    position: relative;

    z-index: 5;

    float: left;

    background-color: #e7e7e7;

  }

  .right-classroom-content{

    position: relative;

    z-index: 3;

    .emptyBox{

      margin-top: 120px;

    }

  }

  .class-room-type-item{

    width: 178px;

    height: 50px;

    color: #666666;

    line-height: 50px;

    text-align: left;

    text-indent: 32px;

    position: relative;

    cursor: pointer;

    &:after{

      position: absolute;

      content: '';

      left: 22px;

      top: 24px;

      width: 4px;

      height: 4px;

      border:1px solid #9aafb5;

    }


    &.active{

      color: #0083e8;

      font-weight: bold;

      background-color: #ffffff;

      &:after{

        border:1px solid #0083e8;

      }

    }

  }

  .ant-radio-group{

    display: block;

    .class-room-item{

      margin: 0 14px;

      height: 48px;

      line-height: 48px;

      padding-left: 18px;

      &:nth-child(2n){

        background-color:#fafafa;

        border-top: 1px solid #eeeeee;

        border-bottom: 1px solid #eeeeee;

      }

    }

    .room-type{

      color: #999999;

    }

  }

  .footer-origin{

    height: 50px;

    border-top: 1px solid #96d4e3;

    border-bottom: 1px solid #96d4e3;

    line-height: 50px;

    padding-left: 24px;

  }

  .origin-title{

    color: #ff6600;

    font-weight: bold;
    
  }

  .class-room-search-wrapper{

    .emptyBox{

      margin-top: 50px;

    }

  }

}