.teacher-teacher-list-wrapper{

  .teacher-list-wrapper{

    margin: 0 32px 0 52px;

    padding:24px 38px 0 18px;

    &>div:not(.emptyBox){
      float: left;
      position: relative;
      width: 196px;
      height:100px;
      @include background-size(100%);
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 20px;
      &:not(:nth-child(4n+1)){
        margin-left:18px;
      }

      .cooperate{
        position: absolute;
        display: none;
        width:175px;
        height:28px;
        background-image: url("#{$image-url}/cooperate-bg1.png");
        @include background-size(100%);
        bottom:9px;
        left:10px;
        &>div:not(.line) {
          padding-left:20px;
          float: left;
          cursor: pointer;
          margin-top:0;
          background-position:left center;
          background-repeat: no-repeat;
          font-size:14px;
          color: #ffffff;
          &:hover{
            text-decoration: underline;
          }
        }
        .reset{
          background-image: url("#{$image-url}/reset.png");
          margin-left:22px;
        }
        .delete{
          background-image: url("#{$image-url}/del.png");
          margin-left:40px;
        }
        .line{
          position: absolute;
          left:88px;
          top: 4px;
          width:1px;
          height: 20px;
          background-image: url("#{$image-url}/line.png");
        }

        &.ganger{

          .no-set{

            .reset{
              margin-left: 40px;
            }

          }

        }
      }
      &:hover{
        .cooperate{
          display: block;
        }
      }
    }

    .teacher-item{
      background-image: url("#{$image-url}/teacher-tab.png");
      &:hover{
        &:after{
          position: absolute;
          content: '';
          bottom:-17px;
          left: -2px;
          width:200px;
          height: 22px;
          background: url("#{$image-url}/teacher-tab-hover.png") no-repeat center;
          @include background-size(100%);
        }
      }
    }

    .teacher-photo{
      float: left;
      width:50px;
      height: 64px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-left: 18px;
      margin-top: 18px;
      cursor: pointer;
    }

    .teacher-info{
      float: left;
      margin-left: 10px;
      margin-top: 32px;
      height: 52px;

      .admclass-teacher-tab{

        line-height: 1;

      }

    }

  }

  .emptyBox{

    margin-left: 50%;

    @include transform(translateX(-50%));

  }

}

.teacher-class-charge-wrapper{

  .teacher-list-wrapper{

    &>div:not(.emptyBox){

      &:not(:nth-child(4n+1)){

        margin-left:0;

      }

      &:not(:nth-child(5n+1)){

        margin-left:18px;

      }

    }

  }

}