@import "../../common/scss/public.scss";
$img-url: "../images";
@import "./Main.scss";
@import "./Common/index.scss";
@import "./Modal/index.scss";
@import "./Modal.scss";
.myFrame {
    .frame-block-wrapper {
        padding-left: 90px;
    }
}

.ClassFrame {
    .frame-block-wrapper {
        padding-left: 110px;
    }
}

.search_container.transparent {
    border-color: #ffffff!important;
}

textarea.ant-input {
    border: 1px solid #d9d9d9;
}