.ImportFrame {
    .frame-fluid {
        position: relative;
        padding: 0;
        background: #f5f5f5;
    }
    .frame-block-wrapper {
        padding-left: 100px;
    }
    .content-box {
        position: relative;
        //height: calc( 100% - 48px );
        width: 1200px;
        min-height: 578px;
        // overflow: hidden;
        background: #fff;
        border-radius: 0 12px 12px 12px;
        -webkit-border-radius: 0 12px 12px 12px;
        -moz-border-radius: 0 12px 12px 12px;
        -ms-border-radius: 0 12px 12px 12px;
        -o-border-radius: 0 12px 12px 12px;
    }
    .Tab {
        position: relative;
        height: 48px;
        box-shadow: 0 3px 10px 0 #f5f5f5;
        .Tab-btn {
            float: left;
            margin-top: 8px;
            width: 160px;
            height: 40px;
            background: #c9dcec;
            border-radius: 12px 12px 0 0;
            line-height: 40px;
            font-size: 16px;
            color: #285478;
            text-align: center;
            margin-right: 3px;
            cursor: pointer;
        }
        .btn-select {
            margin-top: 0;
            height: 48px;
            line-height: 48px;
            font-size: 18px;
            background: #fff;
            color: #333;
            text-align: center;
        }
    }
}