.adjust-class-hour-modal{

  .title{

    font-size: 14px;

    font-weight: bold;

    color: #333333;

    height: 36px;

    line-height: 36px;

  }

  .ant-input{

    width: 56px;

    height:28px;

    margin-top: 4px;

    text-align: center;

    line-height: 1;

  }

  .ant-radio-group{

    margin-top: 4px;

    margin-left: 12px;

  }

  .setting-line{

    margin-top:10px;

    margin-left: 36px;

    height: 36px;

    &>*{

      float: left;

      &.unit{

        margin-top: 4px;

        height: 28px;

        line-height: 28px;

        margin-left: 10px;

      }

    }

    &:first-child{

      margin-top:20px;

    }

  }

  span.ant-radio+*{

    padding-right:0;

    padding-left: 4px;

  }

}