.adjust-by-teacher-modal {
    color: #333333;
    .error-tips {
        padding-left: 16px;
        font-size: 14px;
        color: #ff0000;
        background: url("#{$image-url}/input-error.png") no-repeat left center;
    }
    .ant-modal-body {
        min-height: 330px;
        height: auto;
    }
    .ant-tabs {
        overflow: inherit;
    }
    .modal-wrapper {
        /* float: left;*/
        width: 840px;
        margin-left: -36px;
        margin-top: -24px;
    }
    .ant-tabs-bar {
        margin-bottom: 0;
    }
    .ant-tabs-tab {
        position: relative;
        width: 210px;
        text-align: center;
        color: #596675;
        @include border-radius(0px !important);
        border: 0!important;
        &:not(.ant-tabs-tab-active) {
            background-color: #e8eff7!important;
        }
        &:after {
            position: absolute;
            content: '';
            width: 1px;
            height: 18px;
            background-color: #bfd0e3;
            left: 0;
            top: 50%;
            @include transform(translateY(-50%));
        }
        &.ant-tabs-tab-active,
        &.ant-tabs-tab-active+.ant-tabs-tab {
            &:after {
                width: 0;
            }
        }
    }
    .dropdown_container {
        position: absolute;
        margin-top: -2px;
    }
    .check-item {
        float: left;
        position: relative;
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        border: solid 1px #bac7d9;
        padding: 0 4px;
        text-align: center;
        @include textOverFlow;
        cursor: pointer;
        color: #79879b;
        &.active {
            border-color: #2ba500;
            background-color: #e9ffe9;
            color: #2ab500;
            &:before {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                right: -10px;
                top: -10px;
                border-color: transparent transparent #2ba500 transparent;
                border-style: solid;
                border-width: 10px;
                @include transform(rotate(45deg));
            }
            &:after {
                position: absolute;
                right: 3px;
                top: 3px;
                width: 4px;
                height: 6px;
                content: '';
                display: table;
                border: 1px solid #fff;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg) scale(1) translate(-50%, -50%);
            }
        }
    }
    //找人代课
    .replace-schedule-wrapper {
        padding: 30px 0 0 40px;
        .teacher-wrapper {
            position: relative;
            z-index: 6;
        }

        .subject-wrapper{

            position: relative;

            z-index: 5;

        }

        .class-wrapper {
            position: relative;
            z-index: 4;
        }
        .replace-teacher-wrapper {
            position: relative;
            z-index: 3;
        }
        .deadline-wrapper {
            position: relative;
            z-index: 2;
        }
        &>div {
            margin: 16px 0;
        }
        .teacher-wrapper,
        .replace-teacher-wrapper {
            .error-tips {
                margin-left: 180px;
                margin-top: 2px;
            }
            .target-teacher-id {
                color: #999999;
            }
        }
        .props {
            float: left;
            font-size: 16px;
            color: #666666;
            width: 78px;
            text-align: right;
            margin-right: 20px;
            white-space: nowrap;
        }
        .subject-name {
            margin-left: 8px;
            &.unset {
                color: #999999;
            }
        }
        .class-pick-wrapper {
            float: left;
            margin-left: 8px;
            max-width: 640px;
            &.unset {
                color: #999999;
                &+.error-tips {
                    margin-top: 2px;
                }
            }
        }
        .class-item {
            width: 112px;
            margin-left: 20px;
            margin-bottom: 10px;
            &:nth-child(5n+1) {
                margin-left: 0;
            }
        }
        .class-wrapper {
            .error-tips {
                margin-left: 10px;
                margin-top: 4px;
            }
        }
        .radio-item {
            padding-left: 20px;
            margin-left: 30px;
            background: url("#{$image-url}/radio.png") no-repeat left center;
            cursor: pointer;
            &:first-child {
                margin-left: 8px;
            }
            &.active {
                background-image: url('#{$image-url}/radio-checked.png');
            }
        }
        .byMonth {
            .trangle {
                left: 91px;
            }
        }
        .byWeek {
            .trangle {
                left: 197px;
            }
        }
        .byDate {
            .trangle {
                left: 303px;
            }
        }
        .byClassHour {
            .trangle {
                left: 409px;
            }
            .title {
                margin-right: 16px;
                color: #666666;
            }
            .ant-spin-nested-loading {
                &:nth-last-child(3) {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 6px;
                    //margin-left:10px;
                }
                .title {
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 20px;
                }
            }
            .week-date {
                font-size: 12px;
                color: #999999;
            }
            .error-tips {
                margin-left: 20px;
            }
            .ant-calendar-picker+.ant-spin-nested-loading {
                display: inline-block;
            }
            .trangle+.ant-spin-nested-loading {
                display: block;
            }
        }
        .date-wrapper {
            position: absolute;
            max-width: 580px;
            @include textOverFlow;
            min-height: 14px;
            left: 24px;
            top: 31px;
            background-color: #ffffff;
            font-size: 14px;
            line-height: 1;
            color: #999;
            padding: 0 10px;
        }
        .classHour-wrapper {
            display: inline-block;
            min-height: 56px;
            margin-top: 20px;
            max-width: 520px;
        }
        .noon {
            position: relative;
            &:after {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                right: -18px;
                top: 10px;
                border-width: 4px;
                border-style: solid;
                border-color: transparent transparent transparent #999999;
            }
        }
        .class-hour-item-wrapper {
            &>div {
                float: left;
            }
        }
        .class-hour-item {
            width: 60px;
            margin-left: 28px;
            margin-bottom: 10px;
            &:nth-child(5n+7) {
                margin-left: 88px;
            }
            &:first-child {
                margin-left: 0;
            }
        }
        .dateline-pick-wrapper {
            position: relative;
            width: 672px;
            padding: 22px;
            background-color: #f8f8f8;
            border: 1px solid #d3d3c3;
            margin-left: 104px;
            z-index: 1;
            .error-tips {
                margin-top: 4px;
                margin-left: 8px;
            }
        }
        .month-item {
            width: 92px;
            margin-left: 20px;
            margin-bottom: 10px;
            &:nth-child(5n+1) {
                margin-left: 0;
            }
        }
        .week-item {
            width: 60px;
            margin-left: 30px;
            margin-bottom: 10px;
            &:nth-child(7n+1) {
                margin-left: 0;
            }
        }
        .trangle {
            position: absolute;
            width: 16px;
            height: 16px;
            border-style: solid;
            border-color: #d3d3d3 #d3d3d3 transparent transparent;
            border-width: 1px;
            top: -8px;
            background-color: #f8f8f8;
            @include transform(rotate(-45deg));
        }
    }
    //与人换课
    .change-schedule-wrapper {
        position: relative;
        padding: 32px 45px;
        .change-wrapper {
            width: 300px;
            height: 210px;
            background-color: #f4f4f4;
            padding: 24px 40px;
            &.origin-change-wrapper {
                float: left;
            }
            &.target-change-wrapper {
                float: right;
            }
        }
        .title {
            font-weight: bold;
            text-align: center;
            font-size: 16px;
        }
        .change-info-wrapper {
            position: relative;
            &:nth-child(2) {
                margin-top: 24px;
            }
            margin:18px auto;
            &>div {
                float: left;
            }
            .error-tips {
                position: absolute;
                right: -78px;
            }
            &:nth-child(3) {
                .error-tips {
                    top: 4px;
                }
            }
        }
        .props {
            font-size: 16px;
            margin-right: 12px;
            color: #666666;
        }
        .ant-calendar-picker-input {
            height: 28px;
            line-height: 1;
        }
        .dropdown_container {
            .noon {
                color: #999999;
                font-size: 12px;
                padding-left: 8px;
            }
        }
    }
    .arr-wrapper {
        position: absolute;
        width: 32px;
        height: 32px;
        @include border-radius(50%);
        color: #ffffff;
        background-color: #1ba7fe;
        font-size: 16px;
        background-image: url('#{$image-url}/arr.png');
        background-position: center;
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%));
    }
    //调整时间
    .change-time-wrapper {
        padding: 36px 44px 0 44px;
        &>* {
            float: left;
        }
        .teacher-wrapper {
            position: relative;
            text-align: center;
            margin-left: 48px;
            z-index: 5;
            .props {
                margin-right: 12px;
                float: left;
            }
            .error-tips {
                left: 237px;
                top: 4px;
            }
        }
        .props {
            color: #666666;
            font-size: 16px;
            margin-right: 14px;
            &:first-child {
                margin-left: 30px;
            }
            &:last-child {
                margin-top: 10px;
            }
        }
        .old-time-wrapper,
        .new-time-wrapper {
            position: relative;
            z-index: 4;
            width: 300px;
            height: 182px;
            background-color: #f4f4f4;
            margin-top: 46px;
            padding: 20px 48px;
            &>* {
                float: left;
            }
        }
        .old-time-wrapper {
            margin-left: -94px;
            padding-left: 20px;
        }
        .new-time-wrapper {
            float: right;
            padding-left: 20px;
            .dropdown_container {
                &:nth-child(6) {
                    margin-left: -8px;
                    margin-top: 8px;
                }
            }
            .week-wrapper {
                height: 20px;
                line-height: 20px;
            }
        }
        .content-wrapper {
            position: relative;
            .dropdown_container {
                margin-left: -154px;
                margin-top: 38px;
            }
            .week-wrapper {
                margin-top: 44px;
                color: #999999;
                font-size: 12px;
            }
            .error-tips {
                &:nth-child(2) {
                    left: 152px;
                    top: 4px;
                }
                &:nth-child(4) {
                    left: 152px;
                    top: 42px;
                }
                &:nth-child(7) {
                    left: 152px;
                    top: 104px;
                }
            }
        }
        .ant-input {
            height: 28px;
            line-height: 1;
            width: 146px;
        }
        .error-tips {
            position: absolute;
            left: 0;
            text-align: left;
            bottom: -62px;
            padding-left: 16px;
            font-size: 14px;
            color: #ff0000;
            background: url('#{$image-url}/input-error.png') no-repeat left center;
            height: 18px;
            line-height: 18px;
            width: 128px;
        }

        .new-class-room{

            margin-left: 10px;

            &>*{

                float: left;

            }

            .ant-btn-link{

                padding:0;

            }

        }

        .icon{

            position:absolute;
            background: url("#{$image-url}/arr.png") no-repeat center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            color: #ffffff;
            background-color: #1ba7fe;

            bottom: 70px;

            left: 50%;

            transform: translateX(-50%);

        }

    }
    .change-class-room-wrapper {
        padding: 40px 50px;
        .props {
            font-size: 16px;
            color: #666666;
            margin-right: 12px;
            float: left;
        }
        .class-room-wrapper {
            .props {
                float: none;
            }
        }
        &>* {
            height: 60px;
        }
        .ant-input {
            width: 150px;
            height: 28px;
            line-height: 1;
            margin-left: 8px;
        }
        .classroom {
            display: inline-block;
            width: 180px;
            margin-left: 8px;
            color: #999999;
            font-size: 12px;
            &.pick {
                color: #333333;
                font-size: 14px;
            }
        }
        .time-wrapper {
            .dropdown_container {
                margin-top: 0;
            }
            .week-wrapper {
                margin-left: 172px;
                color: #999999;
            }
        }
        .class-room-wrapper {
            position: relative;
            z-index: 3;
            .props:not(:first-child) {
                margin-left: 138px;
            }
            &:after {
                position: absolute;
                content: '';
                width: 32px;
                height: 32px;
                @include border-radius(50%);
                color: #ffffff;
                background-color: #1ba7fe;
                font-size: 16px;
                background-image:url("#{$image-url}/arr.png");
                background-repeat: no-repeat;
                background-position: center;
                left: 276px;
                top: -2px;
            }
            .error-tips {
                right: 36px;
                top: 2px;
            }
        }
        .teacher-wrapper {
            position: relative;
            z-index: 5;
            .error-tips {
                left: 212px;
                top: 2px;
            }
        }
        .time-wrapper {
            position: relative;
            z-index: 4;
            .error-tips {
                &:nth-child(3) {
                    left: 56px;
                    top: 30px;
                }
                &:nth-child(5) {
                    top: 30px;
                    left: 214px;
                }
            }
        }
        .error-tips {
            position: absolute;
        }
    }
    .stop-schedule-by-teacher-wrapper {
        padding: 40px 50px;
        .props {
            font-size: 16px;
            color: #666666;
            margin-right: 12px;
            float: left;
        }
        .ant-input {
            line-height: 1;
            height: 28px;
            width: 150px;
            margin-left: 8px;
        }
        .teacher-wrapper {
            position: relative;
            z-index: 5;
            .props {
                margin-left: 30px;
            }
            .error-tips {
                left: 240px;
                top: 2px;
            }
        }
        &>*:not(:last-child) {
            height: 42px;
        }
        .class-hour-item {
            max-width: 580px;
            &>div {
                float: left;
                margin-bottom: 10px;
                &:not(:first-child) {
                    margin-left: 24px;
                }
                &:nth-child(6n+8) {
                    margin-left: 84px;
                }
            }
        }
        .date-pick {
            margin-left: 24px;
            margin-top: 8px;
            input {
                border-color: #bac7d9;
                width: 150px;
                height: 28px;
            }
        }
        .noon {
            position: relative;
            &:after {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                right: -18px;
                top: 10px;
                border-width: 4px;
                border-style: solid;
                border-color: transparent transparent transparent #999999;
            }
        }
        .check-item {
            position: relative;
            width: 60px;
            height: 28px;
            line-height: 28px;
            border: solid 1px #bac7d9;
            padding: 0 4px;
            text-align: center;
            @include textOverFlow;
            cursor: pointer;
            color: #79879b;
            font-size: 14px;
            &.active {
                border-color: #2ba500;
                background-color: #e9ffe9;
                &:before {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 0;
                    right: -10px;
                    top: -10px;
                    border-color: transparent transparent #2ba500 transparent;
                    border-style: solid;
                    border-width: 10px;
                    @include transform(rotate(45deg));
                }
                &:after {
                    position: absolute;
                    right: 3px;
                    top: 3px;
                    width: 4px;
                    height: 6px;
                    content: '';
                    display: table;
                    border: 1px solid #fff;
                    border-top: 0;
                    border-left: 0;
                    transform: rotate(45deg) scale(1) translate(-50%, -50%);
                }
            }
        }
        .class-hour-pick-wrapper {
            position: relative;
            z-index: 3;
            margin-left: 86px;
            .error-tips {
                left: 0;
                bottom: -16px;
            }
        }
        .checked-date-wrapper {
            position: relative;
            z-index: 4;
            .error-tips {
                left: 240px;
                top: 2px;
            }
            .props {
                margin-right: 10px;
            }
        }
        .error-tips {
            position: absolute;
        }
        &>.error-tips {
            left: 138px;
        }
    }
}