.stop-schedule-modal{

  .ModalContent{

    margin: 16px 0 16px 40px;

  }

  .props{

    color: #666666;

    margin-right: 20px;

  }

  .date-picked-time{

    font-size: 12px;

    color: #999999;

  }

  .checked-date-wrapper{

    .ant-spin-nested-loading{

      display: inline-block;

      margin-left: 10px;

    }

    margin-bottom:30px;

  }

  .class-hour-wrapper,
  .grade-selected-wrapper,
  .college-selected-wrapper{

    &>*{

      float: left;

    }

  }

  .college-selected-wrapper{

    .college-wrapper{

      float: left;

      width: 580px;

      height: 120px;

      margin-left: 26px;

      border: 1px solid #bac7d9;

      @include border-radius(5px);

    }

    .college-selected-title{

      float: left;

      color: #666666;

      margin-top: 2px;

    }

    .college-checked-item{

      float: left;

      margin-left: 10px;

      margin-top: 10px;

    }

    .college-scroll{

      height: 90px;

    }

    .college-emp{

      line-height: 90px;

      font-size: 18px;

      color: #cccccc;

      text-align: center;

    }

    .edit{

      width: 18px;

      height: 18px;

      outline: none;

      border:0;

      float: right;

      background-color: transparent;

      background: url("#{$image-url}/edit.png") no-repeat center;

      margin-right: 10px;

      cursor: pointer;

      &:hover{

        background-image: url("#{$image-url}/edit-hover.png");

      }

    }

  }

  .grade-selected-wrapper,.college-selected-wrapper{

    margin-top: 24px;

  }

  .grade-selected-container{

    float: left;

    width: 600px;

    .check-item{

      float: left;

      margin-bottom:10px;

      margin-left: 10px;

    }

  }

  .class-hour-item,
  .period-item-wrapper{

    max-width: 580px;

    &>div{

      float: left;

      margin-bottom: 10px;

      &:not(:first-child){

        margin-left: 24px;

      }

      &:nth-child(6n+8){

          margin-left: 84px;

      }

    }

  }

  .date-pick{

    margin-left: 24px;

    margin-top: 8px;

    input{

      border-color:#bac7d9;

      width:150px;

      height:28px;

    }

  }

  .period,
  .noon{

    position: relative;

    &:after{

      position: absolute;

      content: '';

      width: 0;

      height: 0;

      right: -18px;

      top:10px;

      border-width:4px;

      border-style: solid;

      border-color: transparent transparent transparent #999999;

    }

  }

  .check-item{

    position: relative;

    min-width: 60px;

    height: 28px;

    line-height: 28px;

    border: solid 1px #bac7d9;

    padding:0 4px;

    text-align: center;

    @include textOverFlow;

    cursor: pointer;

    color: #79879b;

    font-size: 14px;

    &.active{

      border-color: #2ba500;

      background-color:#e9ffe9;

      &:before{

        position: absolute;

        content: '';

        width:0;

        height: 0;

        right: -10px;

        top: -10px;

        border-color:transparent transparent #2ba500 transparent;

        border-style: solid;

        border-width:10px;

        @include transform(rotate(45deg));

      }

      &:after{

        position: absolute;

        right:3px;

        top:3px;

        width: 4px;

        height:6px;

        content: '';

        display: table;

        border:1px solid #fff;

        border-top: 0;

        border-left: 0;

        transform: rotate(45deg) scale(1) translate(-50%, -50%);

      }

    }

  }

}