#RenameModal {
    overflow: hidden;
    .modal-row {
        margin-top: 56px;
        height: 32px;
        .row-left {
            width: 30%;
            // display: inline-block;
            float: left;
            text-align: right;
            height: 32px;
            line-height: 32px;
            color: #999999;
            font-size: 14px;
        }
        .row-right {
            width: 70%;
            padding-left: 10px;
            // display: inline-block;
            float: left;
            height: 32px;
            .rename-input {
                width: 200px;
            }
        }
    }
}