.school-type-list{

  display: inline-block;

  margin-bottom:0;

  .school-type-item{

    margin-bottom: 16px;

    .ant-radio-group{

      margin-top: 3px;

    }

    &:last-child{

      margin-bottom: 0;

    }

  }

  .period{

    float: left;
    position: relative;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #bac7d9;
    padding: 0 4px;
    width: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #79879b;

    &.active{

      border-color: #2ba500;
      background-color: #e9ffe9;
      color: #2ab500;

      &:after{

        position: absolute;
        right: 3px;
        top: 3px;
        width: 4px;
        height: 6px;
        content: '';
        display: table;
        border: 1px solid #fff;
        border-top: 0;
        border-left: 0;
        -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
        transform: rotate(45deg) scale(1) translate(-50%, -50%);

      }

      &:before{

        position: absolute;
        content: '';
        width: 0;
        height: 0;
        right: -10px;
        top: -10px;
        border-color: transparent transparent #2ba500 transparent;
        border-style: solid;
        border-width: 10px;
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);

      }

    }

  }

  .triangle{

    float: left;

    margin:8px;

    width: 0;

    height: 0;

    border-style: solid;

    border-width: 6px;

    border-color: transparent transparent transparent #999999;

  }

}