.the-course-wrapper{

  .title-bar-wrapper{

    margin-top: 30px;

    margin-bottom: 20px;

  }

  .statics-title{

    margin-left: 58px;

  }


  .emptyBox{

    margin-top: 70px;

  }

    .ant-pagination{

      text-align: center;

      margin-bottom: 30px;

    }


}