#ContentTop {
    height: 40px;
    line-height: 40px;
    width: calc(100% - 38px);
    margin-left: 30px;
    border-bottom: 1px dashed #cccccc;
    .CT-title {
        display: inline-block;
        vertical-align: top;
        padding-left: 30px;
        margin-left: -30px;
        text-align: left;
        font-size: 16px;
        color: #333333;
    }
    .CT-title-more {
        background: url(./images/icon-more-hover.png) no-repeat 7px center / 16px 18px;
    }
    .CT-title-all {
        background: url(./images/icon-all-hover.png) no-repeat 6px center / 18px 18px;
    }
    .CT-handle {
        float: right;
        height: 40px;
        line-height: 40px;
        .CTh-add {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 145px;
            // margin-right: 8px;
            height: 28px;
            line-height: 28px;
            background-image: linear-gradient(90deg, #0fc1fc 0%, #1da4fe 100%), linear-gradient(#ffffff, #ffffff);
            border-radius: 14px;
            -webkit-border-radius: 14px;
            -moz-border-radius: 14px;
            -ms-border-radius: 14px;
            -o-border-radius: 14px;
            padding: 0 15px 0 32px;
            font-size: 14px;
            color: #ffffff;
            text-align: center;
            cursor: pointer;
            box-shadow: 0px 7px 17px -9px #1da4fe;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
            &::before {
                position: absolute;
                width: 12px;
                height: 12px;
                content: "";
                left: 15px;
                top: 8px;
                background: url(./images/icon-crop.png) no-repeat center center/contain;
            }
        }
    }
}