.set-holiday-modal{

  .top-tips{

    height: 48px;
    
    line-height: 48px;

    color:#ff0000 ;

    background-color:#e8eff7 ;

    padding-left:20px;

  }

  .canlender-wrapper{

    padding:10px 50px 0 50px;

    .canlender-item{

      display: inline-block;

      width: 268px;

      height: 240px;

      margin-left: 48px;

      margin-bottom:16px;

      &:nth-child(3n+1){

        margin-left: 0;

      }

    }

    .canlender-title{

      color: #1f882e;

      font-size: 20px;

      margin-bottom:4px;

      margin-left:4px;

    }

    .ant-fullcalendar{

      border-top: 0;

      table{

        height:220px;

      }

    }

    .ant-fullcalendar-calendar-body{

      padding:0;

    }

    .ant-fullcalendar-date{

      &.disabled{

        cursor: not-allowed;

        .ant-fullcalendar-value{

          cursor: not-allowed;

          color:rgba(0, 0, 0, 0.25);

          box-shadow: none;

          &:hover{

            background-color:#ffffff;

          }

        }

      }

      .ant-fullcalendar-value{

        &.selectd{

          background-color: #e5f5e5;

          color: #009900;

          border-radius: 50%;

        }

      }

    }
    
    .ant-fullcalendar-content{

      color: #ff3300;

      font-size: 12px;

      transform: scale(0.8);

      white-space: nowrap;

      text-align: center;
      
    }

    .ant-fullcalendar-selected-day{

      .ant-fullcalendar-value{

        background-color: #ffffff;

        color: #333333;

      }

    }

    .ant-fullcalendar-today{

      .ant-fullcalendar-value{

        box-shadow:0 0 0 1px #009900;

        border-radius: 50%;

      }

    }

    .ant-fullcalendar-value{

      &:hover{

        background-color: #e5f5e5;

        border-radius: 50%;

      }

    }

  }

}