.StuQuality {
    padding-top: 24px;
    padding-bottom: 42px;
    .SR-top {
        height: 42px;
        padding-left: 102px;
        margin-bottom: 10px;
        .SRt-go {
            float: right;
            margin-right: -20px;
            margin-top: 6px;
            // line-height: 30px;
            padding-left: 16px;
            background-position: left 1px;
            background-size: 12px 17px;
            // font-size: 14px;
            // cursor: pointer;
            // text-decoration: underline;
            // opacity: 0.8;
            // background: url(../images/详情.png) no-repeat left center / 15px 15px;
            // color: #0086e3;
            // &:hover {
            //     opacity: 1;
            // }
        }
    }
    .SQ-box {
        padding: 0 69px;
        .SQb-bar {
            left: 50%;
            padding: 10px 0;
            // padding: 0 69px;
            position: relative;
            width: max-content;
            width: -moz-max-content;
            width: -webkit-max-content;
            width: -ms-max-content;
            width: -o-max-content;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            .SQb-content {
                padding: 0 47px;
                width: 190px;
                display: inline-block;
                vertical-align: top;
                .SQbc-top {
                    height: 96px;
                    width: 96px;
                    line-height: 96px;
                    text-align: center;
                    font-family: FZZZHUNHJW--GB1-0;
                    font-size: 30px;
                    color: #ffffff;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
                .SQbc-bottom {
                    font-size: 14px;
                    text-align: center;
                    line-height: 52px;
                    letter-spacing: 0px;
                    color: #333333;
                }
                &:nth-of-type(5n + 1) {
                    .SQbc-top {
                        background-color: #2edba6;
                        box-shadow: 0px 4px 10px 0px rgba(46, 219, 166, 0.45);
                    }
                }
                &:nth-of-type(5n + 2) {
                    .SQbc-top {
                        background-color: #f8669d;
                        box-shadow: 0px 4px 10px 0px rgba(248, 102, 157, 0.45);
                    }
                }
                &:nth-of-type(5n + 3) {
                    .SQbc-top {
                        background-color: #3caeff;
                        box-shadow: 0px 4px 10px 0px rgba(60, 174, 255, 0.45);
                    }
                }
                &:nth-of-type(5n + 4) {
                    .SQbc-top {
                        background-color: #8099ff;
                        box-shadow: 0px 4px 10px 0px rgba(151, 170, 249, 0.45);
                    }
                }
                &:nth-of-type(5n + 5) {
                    .SQbc-top {
                        background-color: #fd8276;
                        box-shadow: 0px 4px 10px 0px rgba(253, 130, 118, 0.45);
                    }
                }
            }
        }
    }
}