@import "~compass-mixins/lib/compass/css3";

@import "~compass-mixins/lib/animate";

@import "./animate";


$darkBlueUrl:'../images/dark-blue';

$darkTechUrl:'../images/dark-tech';

$cloudSchoolRoomUrl:'../images/cloud-schoolroom';

$aiSchoolRoomUrl:'../images/ai-school';

$aiExamUrl:'../images/ai-exam';

$darkBlueFontColor:#fffefe;


@mixin flex{
  display: flex;
  display:-moz-flex;
  display:-ms-flex;
  display:-webkit-flex;
  display:-ms-flexbox;
}
@mixin justifyContent($dir){
  -ms-flex-pack: $dir;
  justify-content: $dir;
}
@mixin flexDirection($dir){
  -ms-flex-direction:$dir;
  flex-direction:$dir;
}
@mixin alignItems($dir){
  -ms-flex-align: $dir;
  align-items: $dir;
}

@mixin textOverFlow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}






*{

  margin:0;

  padding:0;

}

body{

  //background-color: #0bb6ff!important;

  font-family: "Microsoft YaHei"!important;

  color: #333333;

}




#root{

  height: 100%;

}

.app{

  max-width: 1920px;

  margin: 0 auto;

  position: relative;

  height: 100%;

  min-height: 100%;

}


.link{

  color: #0099ff;

  cursor:pointer;

  &:hover{

    color: #ff6600;

  }

}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
  /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}