@import "base";
.app{

  &>.ant-spin-spinning{

    position: absolute;

    @include flex;

    width: 100%;

    height: 100%;

    background-color:#ffffff;

    @include flexDirection(column);

    @include justifyContent(center);

    -ms-flex-direction:column;

    -ms-flex-align: center;

    -ms-flex-pack:center;

  }

}

.dark_tech_sign_wrapper,.cloud_schoolroom_sign_wrapper{

  .ant-spin-nested-loading>div>.ant-spin .ant-spin-text{

    color: #ffffff;

    text-shadow: none;

  }

  .ant-spin-dot-item{

    background-color: #ffffff;

  }

}