.course-total-wrapper{

  .title-bar-wrapper{

    margin-top: 28px;

    margin-bottom: 20px;

  }

  .drop-statics-title{

    position: relative;

    z-index: 3;

    margin-left: 42px;

    color: #666666;

    &>*{

      float: left;

    }

  }

  .statics-info{

    margin-left: 20px;

    line-height: 28px;

  }

  .dropdown_title_span{

    color: #999999;

  }

}