.WorkdaySet {
    padding-top: 16px;
    text-align: center;
    &>div {
        display: inline-block;
        vertical-align: top;
    }
    &>.select-box {
        .WorkdaySet-WorkCaledar {
            display: inline-block;
            vertical-align: top;
        }
        .WorkdaySet-tips {
            line-height: 44px;
            font-size: 14px;
            color: #333333;
            padding-left: 10px;
            text-align: left;
        }
    }
    .select-date-icon {
        height: 350px;
        margin-top: 44px;
        width: 126px;
        background: url(./images/image-go-day.png)no-repeat center center/62px 64px;
    }
    &.WorkdaySet-edit {
        padding-top: 32px;
    }
}

.WorkdayModal {
    .ant-modal-footer {
        .my-footer {
            // padding-right: 12px;
            .btn {
                //width: 80px;
                display: inline-block;
                height: 30px;
                line-height: 30px;
                padding: 0 24px;
                font-size: 16px;
                color: #ffffff;
                // box-shadow: 0px 0px 3px 0px #000000;
                text-align: center;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                margin-left: 16px;
                opacity: 0.9;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
                &.btn-modal-delete {
                    background-image: linear-gradient(90deg, #ff7651 0%, #ff3e3e 100%), linear-gradient(#f2f2f2, #f2f2f2);
                }
                &.btn-modal-ok {
                    background-image: linear-gradient(90deg, #00e566 0%, #12d033 62%, #23ba00 100%), linear-gradient(#f2f2f2, #f2f2f2);
                }
                &.btn-modal-cancel {
                    background-image: linear-gradient(90deg, #0fc1fc 0%, #1da4fe 100%), linear-gradient(#f2f2f2, #f2f2f2);
                }
            }
        }
    }
}