@import "./public.scss";
.Breadcrumb {
    position: relative;
    display: inline-block;
    height: 25px;
    width: 100%;
    padding: 0 10px;
    margin-top: 5px;
    line-height: 25px;
    // .Breadcrumb-node {
    //     position: relative;
    //     display: inline-block;
    //     height: 25px;
    //     line-height: 25px;
    //     max-width: 25%;
    @include TextOverflow();
    .node-title {
        position: relative;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        max-width: 23%;
        font-size: 14px;
        color: rgba(0, 0, 0, .45);
        text-align: left;
        @include TextOverflow();
    }
    .pre-node {
        color: #0099ff;
        cursor: pointer;
        &:hover {
            color: #ff6600;
        }
    }
    .last-node {}
    .node-separator {
        position: relative;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        width: 5%;
        vertical-align: top;
        font-size: 14px;
        color: rgba(0, 0, 0, .45);
        text-align: center;
    }
    // }
}