@import './public.scss';
.UserCard {
    position: relative;
    display: inline-block;
    width: 206px;
    height: 80px;
    .Card-box {
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        width: 196px;
        height: 100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: 1px solid #abbfd1;
        background-color: #fff;
        .card-UserTypeName {
            position: absolute;
            display: inline-block;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            width: 20px;
            height: 50px;
            color: #999;
            font-size: 14px;
            text-align: center;
            border: 1px solid #abbfd1;
            background-color: #fff;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }
        .card-PhotoPath {
            @include Re_CCenter();
            display: inline-block;
            margin-left: 20px;
            width: 60px;
            height: 60px;
            // background-repeat: no-repeat;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border: 1px solid #abbfd1;
        }
        .card-msg-box {
            @include Ab_CCenter();
            margin-left: 10px;
            display: inline-block;
            height: 60px;
            .card-msg {
                position: relative;
                display: inline-block;
                line-height: 25px;
                text-align: left;
                width: 80px;
                @include TextOverflow();
                font-size: 14px;
                color: #999;
            }
            .card-msg-UserName {}
        }
        .card-checkBox {
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }
}