.ant-btn.link-btn {
    padding: 0;
    line-height: 18px;
    font-size: 14px;
    height: 18px;
    background-position: left 2px;
    background-repeat: no-repeat;
    padding-left: 20px;
    &:hover {
        &>span {
            color: #35a3ef;
        }
    }
    &.archives {
        background-image: url("./images/archives.png");
        &:hover {
            background-image: url("./images/archives-hover.png");
        }
    }
    &.reset {
        background-image: url("./images/reset.png");
        &:hover {
            background-image: url("./images/reset-hover.png");
        }
    }
    &.data {
        background-image: url("./images/data.png");
        &:hover {
            background-image: url("./images/data-hover.png");
        }
    }
    &.score {
        background-image: url("./images/score.png");
        &:hover {
            background-image: url("./images/score-hover.png");
        }
    }
    &.comment {
        background-image: url("./images/comment.png");
        &:hover {
            background-image: url("./images/comment-hover.png");
        }
    }
    &.all {
        background-image: url("./images/all.png");
        &:hover {
            background-image: url("./images/all-hover.png");
        }
    }
    &.edit {
        background-image: url("./images/edit.png");
        &:hover {
            background-image: url("./images/edit-hover.png");
        }
    }
    &.details {
        background-image: url("./images/icon-details.png");
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &>span {
        text-decoration: underline;
        font-size: 14px;
        color: #0086e3;
    }
}