@import "../../common/scss/public.scss";
$img-url: "../images";
@import "./Main.scss";
@import "./Common/index.scss";
@import "./UserArchives/index.scss";
@import "./RegisterExamine/index.scss";
@import "./Log/index.scss";
@import "./ImportFile/index.scss";
@import "./Modal.scss";
.AdmArchives-frame {
    .frame-block-wrapper {
        padding-left: 100px;
    }
}

.ClassFrame {
    .frame-block-wrapper {
        padding-left: 110px;
    }
}