$image-url: "../images";
@import "./images.scss";
.Teacher {
    position: relative;
    padding: 22px 36px;
    text-align: center;
    //公用
    .Teacher-box {
        position: relative;
        text-align: left;
        margin: 0 auto;
        width: 870px;
        .Teacher-top {
            position: relative;
            // margin: 0;
            margin-left: 15px;
            height: 37px;
            .top-tips {
                float: left;
                .tips {
                    font-size: 18px;
                    line-height: 37px;
                    color: #333333;
                    padding-left: 21px;
                    margin-left: -21px;
                    background-size: 17px 17px;
                    background-position: left center;
                }
            }
            .top-nav {
                float: right;
                .link {
                    color: #0099ff;
                    font-size: 14px;
                    line-height: 37px;
                    text-decoration: underline;
                    &:hover {
                        color: #ff6600;
                        .add {
                            background: url(../images/icon-add-active.png)no-repeat left center;
                            background-size: 12px 12px;
                        }
                        .RegisterExamine {
                            background: url(../images/icon-register-active.png)no-repeat left center;
                            background-size: 14px 16px;
                        }
                        .ImportFile {
                            background: url(../images/icon-import-active.png)no-repeat left center;
                            background-size: 16px 16px;
                        }
                    }
                    .add {
                        padding-left: 16px;
                        background: url(../images/icon-add.png)no-repeat left center;
                        background-size: 12px 12px;
                    }
                    .RegisterExamine {
                        position: relative;
                        padding-left: 18px;
                        background: url(../images/icon-register.png)no-repeat left center;
                        background-size: 14px 16px;
                        .have-red {
                            background-color: red;
                            display: none;
                            width: 6px;
                            height: 6px;
                            position: absolute;
                            top: -4px;
                            right: -6px;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                        }
                    }
                    .ImportFile {
                        padding-left: 20px;
                        background: url(../images/icon-import.png)no-repeat left center;
                        background-size: 16px 16px;
                    }
                }
                .divide {
                    position: relative;
                    font-size: 14px;
                    color: #c9e1f0;
                    top: -1px;
                    margin: 0 12px;
                }
            }
        }
        .Teacher-hr {
            position: relative;
            border-top: 1px dashed #ccc;
            width: 855px;
            margin-left: 15px;
            // margin: 0 auto;
        }
        .Teacher-content {
            margin: 18px auto 0;
            position: relative;
            width: 870px;
            .content-top {
                position: relative;
                margin-left: 15px;
                height: 28px;
                .dropdown_select_ul {
                    z-index: 2;
                }
                .dropdown_wrapper:nth-of-type(2) {
                    margin-left: 0;
                    margin-right: 3px;
                }
                .dropdown_container {
                    float: left;
                }
                .Search {
                    float: right;
                    .search-tips {
                        color: #000;
                        font-size: 14px;
                        text-align: right;
                        float: left;
                        line-height: 28px;
                        margin-right: 10px;
                        .Total {
                            color: red;
                            // font-weight: bold;
                        }
                    }
                    .search_container {
                        float: left;
                    }
                }
            }
            .content-render {
                margin-top: 16px;
                position: relative;
                .table {
                    .ant-table-thead {
                        th:nth-child(1),
                        th:nth-child(3) {
                            padding: 0;
                        }
                        th:nth-child(2) {
                            // text-align: left;
                            padding-left: 60px;
                        }
                        th {
                            padding: 0;
                        }
                    }
                    .ant-table-row {
                        // td:nth-child(2),
                        td {
                            padding: 16px 0;
                            line-height: 1;
                        }
                        td:nth-child(1) {
                            padding-left: 20px;
                        }
                    }
                    .key-content {
                        font-size: 14px;
                        line-height: 23px;
                        color: #999;
                        margin: 0 0 0 3px;
                    }
                    .name-key {
                        font-size: 14px;
                        line-height: 23px;
                        color: #999;
                        margin: 0 3px;
                    }
                    .name-img {
                        margin: 0 6px;
                        cursor: pointer;
                        border-radius: 3px;
                        border: 1px solid #999;
                        object-fit: cover;
                    }
                    .name-UserName {
                        height: 17px;
                        text-decoration: underline;
                        color: #333;
                        font-size: 16px;
                        cursor: pointer;
                        display: inline-block;
                        width: 90px;
                        height: 20px;
                        line-height: 20px;
                        overflow: hidden; //超出一行文字自动隐藏
                        text-overflow: ellipsis; //文字隐藏后添加省略号
                        white-space: nowrap; //强制不换行
                    }
                    .UserID {
                        height: 17px;
                        font-size: 14px;
                        color: #999;
                        display: inline-block;
                        width: 75px;
                        overflow: hidden; //超出一行文字自动隐藏
                        text-overflow: ellipsis; //文字隐藏后添加省略号
                        white-space: nowrap; //强制不换行
                    }
                    .Gender {
                        font-size: 14px;
                        color: #999;
                    }
                    .SubjectName {
                        height: 17px;
                        font-size: 14px;
                        color: #333;
                        display: inline-block;
                        width: 130px;
                        overflow: hidden; //超出一行文字自动隐藏
                        text-overflow: ellipsis; //文字隐藏后添加省略号
                        white-space: nowrap; //强制不换行
                    }
                    .Title {
                        font-size: 14px;
                        color: #666;
                    }
                    .ant-checkbox-gray .ant-checkbox {
                        top: -3px;
                    }
                    .handle-content {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                    }
                    .handle-btn {
                        float: right;
                        height: 24px;
                        width: 56px;
                        line-height: 24px;
                        font-size: 14px;
                        padding: 0;
                        text-align: center;
                        margin-right: 3px;
                    }
                    .check-btn {
                        float: right;
                        height: 24px;
                        width: 100px;
                        line-height: 24px;
                        font-size: 14px;
                        padding: 0;
                        text-align: center;
                        margin-right: 2px;
                    }
                }
                .checkAll-box {
                    margin-top: 10px;
                    margin-left: 20px;
                    .checkAll-title {
                        // vertical-align: text-bottom;
                        height: 28px;
                        line-height: 28px;
                    }
                }
                .deleteAll {
                    color: #fff;
                    width: 56px;
                    line-height: 28px;
                    height: 28px;
                    padding: 0;
                    text-align: center;
                    margin-left: 8px;
                    border: none;
                    font-size: 14px;
                    span {
                        vertical-align: baseline;
                    }
                    // box-sizing: content-box;
                }
                .pagination-box {
                    margin-top: 10px;
                    float: right;
                }
            }
        }
    }
}

// .ant-modal-body{
//     padding: 0!important;
// }
.ant-modal-header {
    border: 0;
}

.ant-modal-body {
    overflow: auto;
}

.ant-modal {
    .modal-TeacherChange {
        position: relative;
        padding: 42px 0 42px 42px;
        // padding: 42px;
        height: 100%;
        box-sizing: border-box;
        .content-top {
            width: 100%;
            height: 40px;
            .top-text {
                font-size: 18px;
                color: #333333;
                line-height: 40px;
                margin-left: 16px;
            }
        }
        .content {
            height: 100%;
            overflow: auto;
            padding-bottom: 40px;
        }
    }
}