.Reload {
    height: 50px;
    line-height: 50px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 18px;
    color: #666;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    span {
        color: #0099ff;
        cursor: pointer;
        text-decoration: underline;
        &::hover {
            color: #ff6600;
        }
    }
}