.double-single-table-wrapper {
    //头部
    .col {
        border: solid 1px #aaddea;
    }
    .col0 {
        background-color: #d6f7ff;
        border: solid 1px #aaddea;
        text-align: center;
        color: #00728f;
        font-size: 16px;
    }
    .week {
        background-color: #d6f7ff;
        border: solid 1px #aaddea;
        text-align: center;
        font-size: 16px;
        color: #00728f;
        font-weight: bold;
    }
    .course-time {
        background-color: #d6f7ff;
        border: solid 1px #aaddea;
    }
    .course-time-div {
        @include flex;
        @include flex-direction(column);
        @include justify-content(center);
        &.empty {
            text-align: center;
            color: #999999;
        }
    }
    .class-hour,
    .class-hour-time {
        text-align: center;
        color: #00728f;
    }
    .class-hour {
        font-size: 16px;
        font-weight: bold;
    }
    .class-hour-time {
        font-size: 14px;
    }

    .common-col {
        border: solid 1px #aaddea;
    }
    .course-title {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        padding: 0 8px;
        text-align: center;
        @include textOverFlow;
        &.disabled {
            color: #999999;
        }
    }
    .course-abstract {
        font-size: 14px;
        color: #999999;
        padding: 0 8px;
        @include textOverFlow;
        text-align: center;
    }
    .course-teacher {
        padding: 0 10px;
        @include textOverFlow;
    }
    .ant-table-tbody>tr>td {
        padding: 0;
    }
    .week-wrapper {
        height: 28px;
        line-height: 28px;
        color: #00728f;
        font-size: 16px;
        font-weight: bold;
    }
    /* .ant-table-fixed-header .ant-table-scroll .ant-table-header{

    padding-bottom:9px!important;

  }*/
    table tbody.ant-table-tbody tr:nth-child(2n) td {
        background-image: linear-gradient( rgba(229, 240, 243, 0.24), rgba(229, 240, 243, 0.24)), linear-gradient( #ffffff, #ffffff);
        ;
    }
    .ant-table-fixed-left {
        .ant-table-fixed {
            tr th,
            tr td {
                background-image: linear-gradient( #e5f0f3, #e5f0f3), linear-gradient( #ffffff, #ffffff)!important;
            }
        }
        .ant-table-header {
            th {
                border: 1px solid #aaddea;
            }
        }
        .ant-table-body-outer {
            td {
                border-left: 1px solid #aaddea;
            }
        }
    }
    .ant-table-fixed-header {
        .ant-table-header {
            tr:not(:last-child) th {
                border-right: 1px solid #aaddea;
                border-bottom: 1px solid #aaddea;
                border-top: 1px solid #aaddea;
            }
            th {
                border-right: 1px solid #aaddea;
                border-bottom: 1px solid #aaddea;
                background-image: linear-gradient( #e5f0f3, #e5f0f3), linear-gradient( #ffffff, #ffffff);
            }
        }
    }
    table tbody.ant-table-tbody tr td {
        border-color: #aaddea;
        //repair
        //width:129px;
        //.ant-table-fixed-columns-in-body{
        //
        //    width: 135px;
        //
        //}

    }

    //repair
    /*table .ant-table-thead tr th>.ant-table-header-column{

        display: block;

        width: 128px;

        max-width: inherit;

    }*/

    .blank-tab {
        width: 136px;
        height: 82px;
        line-height: 82px;
    }
    .double-single-left-col {
        position: relative;
        width: 136px;
        text-align: center;
        height: 90px;
        line-height: 90px;
        color: #00728f;
        font-size: 16px;
        font-weight: bold;
        .content {
            @include textOverFlow;

            padding:0 4px;

        }
        &.active {
            background-image: linear-gradient( #cbe5ec, #cbe5ec), linear-gradient( #ffffff, #ffffff);
            /*border-top: 1px solid #96d4e3;

      border-bottom:1px solid #96d4e3;*/
            &:before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 0;
                @include box-shadow(0px -2px 14px 1px #aaddea);
            }
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 90px;
                width: 100%;
                height: 0;
                @include box-shadow(0px 2px 14px 1px #aaddea);
            }
        }
    }
    .course-time-th {
        width: 128px;
        height: 52px;
        .course {
            color: #00728f;
            font-size: 16px;
            font-weight: bold;
        }
        .time {
            color: #00728f;
            font-size: 14px;
            padding-top: 0;
        }
        &>* {
            height: 26px;
            line-height: 20px;
            text-align: center;
            padding-top: 8px;
        }
    }
    .schedule-wrapper {
        position: relative;
        width: 128px;
        height: 90px;
        .title {
            font-size: 16px;
            color: #999999;
            font-weight: bold;
            padding-left: 12px;
            padding-top: 8px;
            margin-right: 20px;
            @include textOverFlow;
            cursor: pointer;
            text-decoration: underline;
            &.unend {
                color: #333333;
            }
            &.has-flag {
                margin-right: 28px;
            }
            &:hover {
                color: #ff6600;
            }
        }
        .second-title,
        .third-title {
            font-size: 14px;
            color: #999999;
            padding-left: 12px;
            padding-top: 4px;
            padding-right: 4px;
            @include textOverFlow;
        }
        &.empty {
            line-height: 90px;
            text-align: center;
            color: #999999;
        }
        &.active {
            background-image: linear-gradient( #e8faff, #e8faff), linear-gradient( #ffffff, #ffffff);
            //border-top: 1px solid #96d4e3;
            //
            //border-bottom:1px solid #96d4e3;
            &:before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 0;
                @include box-shadow(0px -2px 14px 1px #aaddea);
            }
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 90px;
                width: 100%;
                height: 0;
                @include box-shadow(0px 2px 14px 1px #aaddea);
            }
        }
        .ongoing-flag {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 50px;
            background: url("#{$image-url}/active-class-flag.png") no-repeat right top;
            &>span {
                position: absolute;
                color: #ffffff;
                width: 50px;
                height: 18px;
                left: 14px;
                top: 14px;
                font-size: 12px;
                @include transform(rotate(45deg));
                @include text-shadow(0 1px 2px #000000);
            }
        }
        .stoped-flag {
            position: absolute;
            font-size: 12px;
            right: 2px;
            top: 2px;
            color: #ffffff;
            background-color: #ff6600;
            width: 40px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            border-radius: 2px;
            vertical-align: middle;
        }
    }
    .ant-table-fixed-header .ant-table-scroll .ant-table-header::-webkit-scrollbar {
        width: 21px;
    }

    #tb{

        &>.ant-table-content{
    
          &>.ant-table-scroll{
    
            &>.ant-table-header{
    
                padding-bottom: 1px!important;
    
            }
    
          }
    
          &>.ant-table-fixed-left{
    
            .ant-table-fixed{
    
              .ant-table-row:first-child{
    
                div.double-single-left-col{
    
                  height:91px!important;
    
                }
    
              }
    
            }
    
          }
    
        }
    
      }


}


/*.ant-table-body::-webkit-scrollbar {
  width:8px;
  height:8px;
}
.ant-table-body::-webkit-scrollbar-thumb {
  background-color: #bae4f5;
  border-radius:4px;
}
.ant-table-body::-webkit-scrollbar-track {
  background-color: #f3fcfe;
}

.ant-table-header::-webkit-scrollbar{

  width: 8px;

  height:8px;

}*/