.optional-class-modal{

  .ant-modal-body{

    padding:0;

  }

  .ant-table-pagination.ant-pagination{

    margin-right: 50%;

    @include transform(translate(50%));

  }
  
  .ant-table-tbody{

    color: #333333;

    tr td{

      padding:0;

    }
    
  }

  .course-name,.class-room-name,.teacher-name{

    width: 240px;

    @include textOverFlow;

    padding:9px 8px;

  }

}