.schedule-router-tab{

  position: absolute;

  height: 42px;

  top:-42px;

  left:16px;

}
.schedule-router-tab-item{

  float: left;

  width: 178px;

  height: 42px;

  line-height: 42px;

  text-align: center;

  background-image: linear-gradient(0deg,
          rgba(214, 255, 237, 0.89) 0%,
          rgba(108, 250, 255, 0.89) 100%),

  linear-gradient(
                  #e6e6e6,
                  #e6e6e6);

  background-blend-mode: normal, normal;

  border-bottom: 1px solid #05e3f8;

  &:not(:first-child){

    margin-left: 12px;

  }

  .router-title{

    margin-left:4px;

    font-size: 16px;

    background-image: -webkit-gradient(linear,0 bottom,0 top,from(#0e6982),to(#41cfdb));

    -webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */

    -webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */


  }

  .router-logo{

    padding-left:20px;

    line-height: 20px;

    background-position:left center;

    background-repeat: no-repeat;

    &.subject{

      background-image: url("#{$image-url}/subject.png");

    }

    &.class{

      background-image: url("#{$image-url}/class.png");

    }

    &.classroom{

      background-image: url("#{$image-url}/classroom.png");

    }

    &.mine{

      background-image: url("#{$image-url}/mine.png");

    }

  }


  &:hover{

    color: #666666;
    
  }
  

  &.active{

    background-color:#ffffff;

    border: 1px solid #05e3f8;

    border-bottom:0;

    background-image: none;

    .router-title{

      background-image: -webkit-gradient(linear, 0 0,0 bottom, from(#0173ff), to(#65dcfd));

      -webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */

      -webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */


    }

    .router-logo{

      &.subject{

        background-image: url("#{$image-url}/subject-active.png");

      }

      &.class{

        background-image: url("#{$image-url}/class-active.png");

      }

      &.classroom{

        background-image: url("#{$image-url}/classroom-active.png");

      }

      &.mine{

        background-image: url("#{$image-url}/mine-active.png");

      }

    }

  }

}
