.single-double-table {
    th,
    td {
        border: solid 1px #96d4e3;
    }
    th {
        //background-color:#d6f7ff;
        @include background-image(linear-gradient(#e5f0f3, #e5f0f3), linear-gradient(#ffffff, #ffffff));
        .week {
            font-size: 16px;
            color: #00728f;
            font-weight: bold;
            text-align: center;
            padding-top: 10px;
        }
        .date {
            font-size: 14px;
            color: #00728f;
            text-align: center;
        }
        .week-wrapper {
            position: relative;
            &.active {
                /* border: 1px solid #96d4e3;*/
                background-image: linear-gradient( #cbe5ec, #cbe5ec), linear-gradient( #d6f7ff, #d6f7ff);
                &:before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    @include box-shadow(-3px 0 5px 1px #aaddea);
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 100%;
                    width: 0;
                    height: 100%;
                    @include box-shadow(3px 0 5px 1px #aaddea);
                }
            }
        }
    }
    .noon {
        //background-color: #d6f7ff;
        @include background-image(linear-gradient(#e5f0f3, #e5f0f3), linear-gradient(#ffffff, #ffffff));
    }
    .course-time {
        //background-color: #d6f7ff;
        @include background-image(linear-gradient(#e5f0f3, #e5f0f3), linear-gradient(#ffffff, #ffffff));
    }
    .course-time-title {
        color: #00728f;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .course-time-time {
        font-size: 14px;
        color: #00728f;
        text-align: center;
    }
    td {
        &.active {
            border: 0;
        }
    }
    .scheduleDiv {
        position: relative;
        text-align: left;
        color: #999999;
        height: 100%;
        // @include flex;
        // @include flex-direction(column);
        // @include justify-content(center);
        &.empty {
            font-size: 16px;
            padding: 0 20px 0 10px;
        }
        &.active {
            /*   border-right: 1px solid #96d4e3;

      border-left: 1px solid #96d4e3;*/
            background-image: linear-gradient( #e8faff, #e8faff), linear-gradient( #fcfcfc, #fcfcfc);
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                @include box-shadow(-2px 0 10px 1px #aaddea);
            }
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 100%;
                width: 0;
                height: 100%;
                @include box-shadow(2px 0 10px 1px #aaddea);
            }
        }
        .ongoing-flag {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 50px;
            background: url("#{$image-url}/active-class-flag.png") no-repeat right top;
            &>span {
                position: absolute;
                color: #ffffff;
                width: 50px;
                height: 18px;
                left: 14px;
                top: 14px;
                font-size: 12px;
                @include transform(rotate(45deg));
                @include text-shadow(0 1px 2px #000000);
            }
        }
        .stoped-flag {
            position: absolute;
            font-size: 12px;
            right: 2px;
            top: 2px;
            color: #ffffff;
            background-color: #ff6600;
            width: 40px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            border-radius: 2px;
            vertical-align: middle;
        }
    }
    .noon {
        font-size: 16px;
        color: #00728f;
        font-weight: bold;
        text-align: center;
    }
    .title {
        font-size: 16px;
        color: #999999;
        font-weight: bold;
        width: 100%;
        height: 32px;
        line-height: 2;
        padding: 0 20px 0 10px;
        @include textOverFlow;
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: #ff6600;
        }
        &.active {
            color: #333333;
        }
        &.has-flag {
            padding-right: 33px;
        }
    }
    .second-title,
    .third-title {
        color: #999999;
        font-size: 14px;
        padding: 0 4px 0 10px;
        width: 100%;
        height: 25px;
        line-height: 2;
        @include textOverFlow;
    }
    .shift-wrapper {
        padding-left: 12px;
        text-decoration: underline;
        &:hover {
            color: #ff6600;
        }
    }
}