.term-pick-wrapper{

  position: relative;

  width: 514px;

  height: 30px;

  &>*{

    float: left;

  }

  button{

    border: 0;

    outline: none;

    background-color:#ffffff;

    color: #0099ff;

    cursor: pointer;

    line-height: 30px;

    &:hover{

      text-decoration: underline;

    }
    
    &.prev,
    &.next{

      &.disabled{

          color: #cccccc;

          cursor: not-allowed;

          &:hover{

            text-decoration: none;

          }

      }

    }
    
  }

  .term-title{

    font-size: 24px;

    color: #333333;

    margin:0 26px;

    line-height:26px;

  }

  .dropdown_container{

    vertical-align: top;

    line-height: 1;

    margin: 0 8px;

    font-size: 20px;

  }


  &+.emptyBox{

    margin-top:120px;

  }

  &.week-day-pick{

    width:580px;

    .dropdown_container{

      margin: 0 4px;

    }

    .dropdown_wrapper{

      margin-left:0px;

    }

  }


  &.work-plant-form{

    button{

      font-size: 16px;

    }

    .term-title{

      font-size: 20px;

      font-weight: bold;

      color: #174e90;

      margin-top: 2px;

    }

    .dropdown_container{

      color: #333333;

      font-weight: normal;

    }

  }

}