@import "./base";
.Class {
    position: relative;
    padding: 22px 32px;
    text-align: center;
    //公用
    .Class-box {
        position: relative;
        text-align: left;
        margin: 0 auto;
        width: 858px;
        .Class-top {
            position: relative;
            margin: 0;
            height: 37px;
            .top-tips {
                float: left;
                .tips {
                    font-size: 18px;
                    line-height: 37px;
                    color: #333333;
                    padding-left: 21px;
                    margin-left: -21px;
                    background-size: 17px 17px;
                    background-position: left center;
                }
                .tip-menu {
                    background-image: url(../images/icon-location-small.png);
                    background-repeat: no-repeat;
                    background-size: 14px 19px;
                }
            }
        }
        .Class-hr {
            position: relative;
            border-top: 1px dashed #ccc;
            width: 858px;
            margin: 0 auto;
        }
        .Class-content {
            margin: 18px auto 0;
            position: relative;
            width: 858px;
            .empty {
                margin-top: 120px;
            }
            .ant-table-thead {
                th {
                    padding: 0;
                    &:first-of-type {
                        padding-left: 30px;
                    }
                }
            }
            .ant-table-tbody>tr {
                height: 48px;
            }
            .ant-table-row {
                td {
                    padding: 10px 0;
                    line-height: 1;
                    white-space: nowrap;
                    &:first-of-type {
                        // padding: 10px 39px;
                        padding-left: 30px;
                    }
                    &:last-of-type {
                        //width: 320px;
                    }
                }
            }
            .ant-table-column-title {
                white-space: nowrap;
            }
            .ant-table-align-center:last-of-type {
                width: 200px;
            }
            .CheckBox-content {
                .key-content {
                    vertical-align: middle;
                    margin-left: 10px;
                }
                .ant-checkbox-inner {}
            }
            .courseClass-name {
                font-size: 14px;
                color: #0099ff;
                cursor: pointer;
                display: inline-block;
                width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: bottom;
                line-height: 18px;
            }
            .teacher-name-wrapper {
                @include flex;
                @include justify-content(center);
            }
            .Class-img {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                margin-right: 7px;
                @include background-size(cover);
                background-position: center;
            }
            .Class-name {
                font-size: 14px;
                color: #333333;
                line-height: 18px;
                margin-right: 3px;
                max-width: 80px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: bottom;
            }
            .Class-id {
                font-size: 12px;
                line-height: 18px;
                color: #999999;
                // vertical-align: text-top;
                span {
                    display: inline-block;
                    max-width: 80px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    vertical-align: bottom;
                }
            }
            .StudentCount {
                font-size: 14px;
                color: #333333;
                line-height: 18px;
                display: inline-block;
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: bottom;
            }
            .handle-content {
                width: 200px;
                .handle-btn {
                    height: 24px;
                    line-height: 24px;
                    //width: 52px;
                    text-align: center;
                    padding: 0;
                    width: 52px;
                    box-sizing: border-box;
                    margin-right: 3px;
                    font-size: 14px;
                }
            }
            .checkAll-box {
                margin-top: 10px;
                margin-left: 30px;
                .ant-checkbox {
                    vertical-align: middle;
                }
                .checkAll-title {
                    // vertical-align: text-bottom;
                    height: 28px;
                    line-height: 28px;
                }
            }
            .deleteAll,
            .crossClass {
                color: #fff;
                width: 56px;
                line-height: 28px;
                height: 28px;
                padding: 0;
                font-size: 14px;
                text-align: center;
                margin-left: 8px;
                box-sizing: content-box;
                span {
                    vertical-align: baseline;
                }
            }
            .crossClass {
                color: #0099dd;
                &:hover {
                    color: #fff;
                }
            }
            .pagination-box {
                margin-top: 10px;
                float: right;
            }
        }
    }
}