@import "./base";
#HandleCourseClass {
    padding-top: 40px;
    .row {
        position: relative;
        height: 28px;
        margin-bottom: 18px;
        width: 100%;
        .row-column {
            position: relative;
            height: 28px;
            display: inline-block;
            width: 50%;
            .left {
                position: relative;
                display: inline-block;
                // width: 40%;
                width: 38%;
                line-height: 28px;
                text-align: right;
                font-size: 14px;
                color: #666;
            }
            .right {
                position: relative;
                display: inline-block;
                // width: 60%;
                width: 62%;
                height: 28px;
                line-height: 28px;
                .dropdown_container{

                    .dropdown_wrapper {
                        margin-left: 0;
                    }

                    &.select-course{

                        margin-left: 8px;

                        z-index: 2023;

                        &+div .ant-tooltip{

                            z-index: 2024!important;

                        }

                    }

                    &.select-subject{

                        z-index: 5;

                    }

                }
                .ant-input {
                    height: 28px;
                    line-height: 1;
                }
                .dropdown_container {
                    margin-top: -4px;
                    z-index: 2;
                }
                .teacher-select {
                    position: absolute;
                    // right: 66px;
                    right: 90px;
                    line-height: 28px;
                    color: #0066ff;
                    text-decoration: underline;
                    font-size: 12px;
                    cursor: pointer;
                }
                .teacherName {
                    padding-right: 36px;
                    cursor: pointer;
                    display: flex;
                }
                .noChange {
                    font-size: 14px;
                    padding-left: 11px;
                    width: 100%;
                    overflow: hidden; //超出一行文字自动隐藏
                    text-overflow: ellipsis; //文字隐藏后添加省略号
                    white-space: nowrap; //强制不换行
                }
            }
            //学生名单
            .right-2 {
                width: 610px;
                height: 225px;
                .Student-box {
                    width: 610px;
                    height: 372px;
                    background-color: #ffffff;
                    border-radius: 3px;
                    border: solid 1px #bac7d9;
                    .box-top {
                        position: relative;
                        width: 100%;
                        height: 30px;
                        background-color: #e8eff7;
                        .top-left {
                            position: absolute;
                            left: 0;
                            line-height: 30px;
                            height: 30px;
                            color: #999999;
                            font-size: 12px;
                            padding: 0 11px;
                            .count {
                                color: #ff6600;
                            }
                        }
                        .top-right {
                            position: absolute;
                            right: 0;
                            line-height: 30px;
                            padding: 0 11px;
                            height: 30px;
                            .handle {
                                font-size: 12px;
                                text-decoration: underline;
                                text-align: center;
                                margin-left: 11px;
                                cursor: pointer;
                                color: #0066ff;
                            }
                        }
                    }
                    .box-content {
                        width: 100%;
                        height: calc(100% - 30px);
                        //overflow: auto;
                        .content-card {
                            display: inline-block;
                            overflow: hidden;
                            position: relative;
                            padding: 0 9px;
                            width: 140px;
                            height: 30px;
                            line-height: 28px;
                            border-radius: 3px;
                            border: solid 1px #cccccc;
                            background-color: #fff;
                            text-align: left;
                            margin-right: 5px;
                            margin-bottom: 8px;
                            cursor: default;
                            .icon-x {
                                display: none;
                                width: 7px;
                                height: 28px;
                                background: url(../images/icon-delete.png) no-repeat center center;
                                background-size: 7px 7px;
                                line-height: 28px;
                                position: absolute;
                                right: 9px;
                                top: 0;
                                cursor: pointer;
                            }
                            &:hover {
                                background-color: #f4f9ff;
                                border: solid 1px #0090ff;
                                .icon-x {
                                    display: inline-block;
                                }
                            }
                            .card-id {
                                float: left;
                                margin-left: 2px;
                                color: #999999;
                                font-size: 12px;
                                max-width: 60px;
                                overflow: hidden; //超出一行文字自动隐藏
                                text-overflow: ellipsis; //文字隐藏后添加省略号
                                white-space: nowrap; //强制不换行
                            }
                            .card-name {
                                float: left;
                                max-width: 50px;
                                color: #333333;
                                font-size: 14px;
                                overflow: hidden; //超出一行文字自动隐藏
                                text-overflow: ellipsis; //文字隐藏后添加省略号
                                white-space: nowrap; //强制不换行
                            }
                        }

                        .props{

                            text-align: left;

                            font-size: 12px;

                            color: #999999;

                            padding-left:4px;

                            height: 20px;

                            line-height: 20px;

                        }

                        .class-list-wrapper{

                            .card-name{

                                max-width: 114px;

                            }

                        }

                        .list-wrapper{

                            margin:4px;

                            height:140px;

                            border: 1px solid #cccccc;

                            border-radius:4px;

                            padding:4px;

                            &.no-border{

                                border:0;

                                height:290px;

                            }

                        }

                    }
                }
            }

            &:nth-child(1){

                width:40%;

            }

            &.row-column-2 {
                width: 100%;
                .left {
                    width: 15%;
                    float: left;
                }
            }

        }

    }

    .course-name{

        display: inline-block;

        max-width:170px;

        @include textOverFlow;

        vertical-align: middle;

        &+button{

            vertical-align: middle;

        }

    }

}