#SelectStudent {
    position: relative;
    width: 100%;
    height: 100%;
    .box-top {
        position: relative;
        z-index: 5;
        height: 40px;
        background-color: #eeeeee;
        .top-search {
            position: absolute;
            right: 13px;
            top: 50%;
            transform: translateY(-50%);
        }
        .dropdown_container{

            margin-top:6px;

        }

    }
    .ant-checkbox-group {
        width: 100%;
    }
    .box-content {
        //padding: 30px 17px;
        background: #fff;
        height:440px;
        .selectClassBox {
            width: 100%;
            height: 100%;
            background-color: #e7e7e7;
            margin-bottom:0;

            .selectContent {
                display: block;
                width:178px;
                padding-right:8px;
                height: 50px;
                padding-left: 30px;
                background-color: #e7e7e7;
                line-height: 50px;
                text-align: left;
                font-size: 14px;
                color: #666666;
                overflow: hidden; //超出一行文字自动隐藏
                text-overflow: ellipsis; //文字隐藏后添加省略号
                white-space: nowrap; //强制不换行

                .class-name{

                    cursor: pointer;

                    padding-left:4px;

                }

            }
            .active {
                background-color: #ffffff;
                color: #0083e8;
            }
        }
        .selectStudent {

            position: relative;

            width:540px;

            height:440px;

            margin-bottom:0;

            li {
                height: 48px;
                line-height: 48px;
                padding-left: 18px;
                width: 100%;
                display: inline-block;
                color: #333333;
                background-color: #fafafa;
                border-bottom: 1px #ebebeb solid;
                // &:nth-of-type(2n+1) {
                //   background-color: #fafafa;
                // }
                // &:nth-of-type(2n) {
                //   background-color: #ffffff;
                // }
                &:nth-of-type(2n) {
                    background-color: #fff;
                }
                &:last-of-type {
                    border-bottom: none;
                }
            }
            .selectContent {
                .studentName {
                    font-size: 14px;
                    color: #333333;
                }
                .studentID {
                    color: #999999;
                }
                .ant-checkbox-inner {
                    vertical-align: text-bottom;
                }
            }
            .selectAllBox {
                background-color: #ffffff !important;
                border-bottom: 1px #ebebeb solid !important;
                .selectAll {
                    font-size: 14px;
                    color: #666666;
                }
            }

            .emptyBox{

                position: absolute;

                left: 50%;

                top: 50%;

                transform:translate(-50%,-50%);

            }

        }


        //2020-04-08 add

        .left-content{

            float: left;

            width:180px;

            height: 100%;

        }

        .right-content{

            float: left;

            width:540px;

            height: 100%;

        }

    }
}