@mixin TextOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.TeacherCard {
    position: relative;
    display: inline-block;
    width: 196px;
    height: 100px;
    vertical-align: top;
    margin: 10px;
    &.tc-bg-ganger {
        background: url(../../images/Cards/teacher-tab-ganger.png) no-repeat center center / 100%;
    }
    &.tc-bg-teacher {
        background: url(../../images/Cards/teacher-tab.png) no-repeat center center / 100%;
    }
    .cm-content {
        width: 100%;
        height: 100%;
        cursor: pointer;
        .cm-img {
            margin: 18px 10px 18px 18px;
            display: inline-block;
            width: 50px;
            height: 64px;
            vertical-align: top;
            background: url(../../images/Cards/default-teacher.png) no-repeat center center / 100%;
        }
        .cm-msg {
            display: inline-block;
            width: calc(100% - 85px);
            height: 100%;
            .cm-t-name {
                margin-top: 20px;
                line-height: 38px;
                text-align: left;
                @include TextOverflow();
                font-size: 14px;
                color: #333333;
                font-weight: bold;
            }
            .cm-t-id {
                line-height: 20px;
                text-align: left;
                font-size: 14px;
                @include TextOverflow();
                padding-left: 18px;
                color: #999999;
                background: url(../../images/Cards/id-card.png) no-repeat left center / 15px 12px;
            }
        }
    }
    &:hover {
        .handle-content {
            display: inline-block;
        }
    }
    .handle-content {
        position: absolute;
        display: none;
        // display: inline-block;
        width: 175px;
        height: 28px;
        background-image: url(../../images/Cards/cooperate-bg1.png);
        background-size: 100%;
        bottom: 8px;
        left: 50%;
        cursor: pointer;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        text-align: center;
        .SetGanger-tips {
            padding-left: 21px;
            line-height: 28px;
            // te
            font-size: 14px;
            color: #ffffff;
            background: url(../../images/Cards/reset.png)no-repeat left center /16px 16px;
        }
        .handle-box {
            display: inline-block;
            height: 28px;
            width: 84px;
            text-align: center;
            // vertical-align: top;
        }
        .ReSet-tips {
            padding-left: 21px;
            line-height: 28px;
            // te
            font-size: 14px;
            color: #ffffff;
            background: url(../../images/Cards/reset.png) no-repeat left center / 16px 16px;
        }
        .delete-tips {
            padding-left: 18px;
            line-height: 28px;
            // te
            font-size: 14px;
            color: #ffffff;
            background: url(../../images/Cards/del.png) no-repeat left center / 13px 17px;
        }
        .handle-devide {
            width: 1;
            height: 21px;
            width: 1px;
            display: inline-block;
            vertical-align: top;
            background: url(../../images/Cards/line.png) no-repeat left center / 13px 17px;
            margin-top: 3.5px;
        }
    }
    .cm-subject {
        position: absolute;
        max-width: 100px;
        min-width: 20px;
        right: 11px;
        text-align: center;
        padding: 0 7px;
        top: 8px;
        height: 18px;
        line-height: 18px;
        border-radius: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        color: #da6801;
        background-color: rgba(218, 104, 1, 0.2);
        &.math {
            color: #2fa400;
            background-color: rgba(47, 164, 0, 0.2);
        }
        &.english {
            color: #f26337;
            background-color: rgba(242, 99, 55, 0.2);
        }
        &.physics {
            color: #0081cd;
            background-color: rgba(0, 129, 205, 0.2);
        }
        &.history {
            color: #3e73ec;
            background-color: rgba(62, 115, 263, 0.2);
        }
        &.chinese {
            color: #14a568;
            background-color: rgba($color: #14a568, $alpha: 0.2);
        }
        &.other {
            color: #da6801;
            background-color: rgba(218, 104, 1, 0.2);
        }
    }
    .ganger-tips {
        position: absolute;
        width: 50px;
        height: 20px;
        left: 1px;
        top: 5px;
        text-align: center;
        line-height: 18px;
        color: #ffffff;
        font-size: 12px;
        background: url(../../images/Cards/ganger-tab.png) no-repeat center/100%;
    }
}