.Modal {
    .ModalContent {
        // height: 230px;
        padding-top: 32px;
        .row {
            line-height: 30px;
            margin-bottom: 16px;
            .left {
                display: inline-block;
                vertical-align: top;
                text-align: right;
                padding-right: 8px;
                font-size: 14px;
                color: #999999;
                width: 23%;
                .must {
                    padding-right: 3px;
                    color: #ff0000;
                }
            }
            .right {
                display: inline-block;
                vertical-align: top;
                width: 77%;
            }
        }
    }
}

@import './CustomIdentityModal.scss';
@import './IdentityPower.scss';
@import './CheckMember.scss';
@import './AddMemberModal.scss';
@import './SearchIdentityModal.scss';