.class-total-student-wrapper{

  .class-name{

    float: left;

    color: #333333;

    margin-left: 18px;

    line-height: 30px;

    &.unset{

      color: #999999;

    }

  }

  .empty-class{

    margin-top: 100px;

  }

  &.in-work-plant-form{

    margin: 0 60px;

  }


  .subject-teacher-teacher-content{

    .single-double-table{

      width:calc(100% - 276px);

    }

  }

}

.teacher-class-total{

  .empty-class{

    margin-top: 70px;

  }

}