.class-total-student-wrapper{

  .subject-teacher-teacher-content{

    margin-top: 50px;

    border-top:0;

  }

  .class-name{

    float: left;

    color: #333333;

    margin-left: 18px;

    line-height: 30px;

    &.unset{

      color: #999999;

    }

  }

  .empty-class{

    margin-top: 100px;

  }


  &.in-work-plant-form{

    width: 1200px;

    margin: 0 auto;

  }

}

.teacher-class-total{

  .empty-class{

    margin-top: 70px;

  }

}