$image-url:'../images';
.frame-nav-content {
    position: relative;
}

.frame-fluid {
    position: relative;
    //   padding: 0;
    padding: 25px 42px !important;
    background: #fff !important;
}

label {
    cursor: pointer;
}

.mainFrame {
    .frame-block-wrapper {
        padding-left: 100px!important;
    }
}

.Modal-1 .ant-modal-body {
    overflow: visible;
    height: 510px;
}

.ant-tooltip {
    z-index: 2002!important;
}

// //教研室管理的模态框
// @import "./edit-group-modal.scss";
// // 添加教研室修改modal
// @import "./add-class-modal.scss"