.the-college-wrapper{

  .title-bar-wrapper{

    margin-top: 30px;

    margin-bottom: 20px;

  }

  .statics-title{

    margin-left: 58px;

    color: #666666;

  }


  .emptyBox{

    margin-top: 160px;

  }

}