.year-and-term-setting{

  margin-top: 50px;

  .col1{

    width: 160px;

    text-align: right;

    font-size: 14px;

    color: #333333;

  }

  td{

    padding-bottom: 16px;

  }

  .dropdown_container{

    z-index: 3;

  }

  .dropdown_wrapper{

    margin-left: 12px;
  }

  .ant-calendar-picker{

    margin-left: 12px;

  }

  .guide-footer{

    margin-top:108px;

  }

}