.top-menu {
    height: 100%;
    .menu-bar {
        height: 50px;
        line-height: 50px;
        /* display: inline-block; */
        float: left;
        cursor: pointer;
        .bar-content {
            line-height: 14px;
            border-right: 1px solid #cccccc;
            padding: 0 20px 0 38px;
            font-size: 14px;
            color: #333333;
            &.bar-icon-Grade {
                background: url(../../images/Barner/menu-icon1.png)no-repeat 20px center /15px 15px;
            }
            &.bar-icon-Class {
                background: url(../../images/Barner/行政班管理.png)no-repeat 15px center /19px 15px;
            }
        }
        &:last-of-type {
            .bar-content {
                border: none;
            }
        }
        &:hover,
        &.active {
            .bar-content {
                color: #ff6600;
                &.bar-icon-Grade {
                    background: url(../../images/Barner/menu-icon1-hover.png)no-repeat 20px center /15px 15px;
                }
                &.bar-icon-Class {
                    background: url(../../images/Barner/行政班管理_19.png)no-repeat 15px center /19px 15px;
                }
            }
        }
        &.active {
            background-color: #ffefe5;
        }
    }
}