#CombineModal {
    // width: 641px;
    // height: 468px;
    // padding: 0 16px;
    .combine-drop {
        padding: 0 20px;
        overflow: hidden;
        height: 161px;
        .Card-protect {
            display: inline-block;
            // padding: 0 12px 12px;
            width: auto;
        }
    }
}