.content-wrapper{

  margin:72px auto 0 auto;

  width: 1200px;

  .module-item{

    cursor: pointer;

    float: left;

    margin-bottom: 20px;

    &:not(:nth-child(6n+1)){

      margin-left:28px;

    }

  }

  .module-bg{

    position: relative;

    width:176px;

    height:98px;

  }

  .modules-type{

    padding-top: 28px;

    padding-bottom: 22px;

    padding-left: 28px;

    line-height: 24px;

    font-size:16px;

    color: #465778;

    background: url("#{$image-url}/module-type-icon.png") no-repeat left 28px;

  }



  .title{

    text-align: center;

    font-size: 14px;

    color: #333333;

    margin-top: 8px;

    width:176px;

    @include textOverFlow;

  }

  .module-icon{

    position: absolute;

    width: 176px;

    height: 98px;

    left: 0;

    top:0;

    background-position: center;

    background-repeat: no-repeat;

    @include background-size(cover);

    @include transition(top 0.3s);

    &:hover{

      top: -6px;

    }


    &.userManager{

      background-image: url("../images/module/userManager.png");

    }

    &.admClass{

      background-image: url("../images/module/admClass.png");

    }

    &.admAccount{

      background-image: url("../images/module/admAccount.png");

    }

    &.admPower{

      background-image: url("../images/module/admPower.png");

    }

    &.admSubject{

      background-image: url("../images/module/admSubject.png");

    }

    &.courseClass{

      background-image: url("../images/module/courseClass.png");

    }

    &.schedule{

      background-image: url("../images/module/schedule.png");

    }

    &.onlineUser{

      background-image: url("../images/module/onlineUser.png");

    }

    &.visitTotal{

      background-image: url("../images/module/visitTotal.png");

    }

    &.sysSetting{

      background-image: url("../images/module/sysSetting.png");

    }


  }

}

.modules-row{

  &:nth-child(even){

    background-color: #ffffff;

  }

  .modules-wrapper{

    margin: 0 auto;

  }



}

