.content-wrapper{

  position: relative;

  width:1200px;

  margin:0 auto 44px auto;

  z-index: 5;

}


.modules-container{

  position: relative;

  width: 860px;

  margin: 0 auto;

  &>.ant-spin{

    position: absolute;

    background-color: rgba(255,255,255,0.4);

  }


}

.module-wrapper{

  border-radius: 10px;

  border: solid 1px rgba(255, 255, 255, 0.46);

  width: 860px;

  margin-bottom:24px;

  &.website{

    .module-logo{

      &>img{

        max-width:48px;

        width: auto;

        height:auto;

        &.website-base-img{

          width: 64px;

          max-width:none;

        }

      }

    }

    .group-item-icon{

      &>img{

        width:auto;

        height: auto;

        max-width:16px;

        max-height:16px;

        &.website-base-img{

          width:20px;

          max-width:none;

          max-height:none;

        }

      }

    }

  }

}

.module-group-name{

  position: relative;

   height: 38px;

   background-color:rgba(255,255,255,0.3);

  line-height: 38px;

  font-size: 16px;

  color: #ffffff;

  @include text-shadow(0 0 5px
  rgba(0, 160, 249, 0.54),
          0 0 5px
          #000000);

  border-radius: 10px 10px 0 0;

  padding-left:26px;

  &:after{

    position: absolute;

    content: '';

    width:6px;

    height: 12px;

    background-color: #ffffff;

    left: 16px;

    top:50%;

    @include transform(translateY(-50%));

  }

}

.module-group-wrapper{

  padding:24px 56px 0 56px;

}

.module-item{

  position: relative;

  float: left;

  width: 84px;

  text-align: center;

  cursor: pointer;

  margin-bottom:24px;

  .module-logo{

    position: relative;

    width: 64px;

    height: 64px;

    line-height: 64px;

    font-size: 36px;

    background-repeat: no-repeat;

    background-position: center;

    @include background-size(cover);

    margin: 0 auto;

    @include border-radius(12px);

    &>img{

      position: absolute;

      width: 64px;

      height:64px;

      left: 50%;

      top: 50%;

      @include transform(translate(-50%,-50%));

    }

    &.blue{

      background-image: linear-gradient(0deg,
              #0088af 0%,
              #4aaed7 0%,
              #94d4ff 0%,
              #d7f6fe 100%),
      linear-gradient(
                      #3cc24c,
                      #3cc24c);

      color: #3f9cd7;

    }

    &.green{

      background-image: linear-gradient(0deg,
              #0088af 0%,
              #4db8ae 0%,
              #9ae8ad 0%,
              #cefcec 100%),
      linear-gradient(
                      #3cc24c,
                      #3cc24c);

      color: #25c943;

    }

    &.orange{

      background-image: linear-gradient(0deg,
              #ffc3a5 0%,
              #fef0d8 100%),
      linear-gradient(
                      #3cc24c,
                      #3cc24c);

      color: #e3733b;

    }

  }

  .module-name{

    //@include text-shadow(1px 2px 3px rgba(56, 64, 72, 0.4));

    color: #ffffff;

    //text-shadow: 0 0 2px black;

    text-shadow: 1px 1px 2px black, 0 0 2px black;

    //text-shadow: 3px 3px 3px black, 0 0 2px red, 2px 2px 3px green;

    font-size: 14px;

    //line-height: 1;

    margin-top: 8px;

    width: 84px;

    @include textOverFlow;

    &:hover{

      opacity: 0.8;

    }

  }


  &:not(:nth-child(7n+1)){

    margin-left:26px;

  }

}


.module-group-item{

  width: 64px;

  height: 64px;

  padding:10px 10px 6px 10px;

  @include border-radius(12px);

  background-color: rgba(255,255,255,0.3);

  margin: 0 auto;

  .group-item-icon{

    position: relative;

    float: left;

    width: 20px;

    height: 20px;

    line-height: 20px;

    font-size: 12px;

    text-align: center;

    @include background-size(cover);

    background-position: center;

    background-repeat: no-repeat;

    @include border-radius(4px);

    margin-bottom:4px;

    &>img{

      position: absolute;

      width:20px;

      height:20px;

      left: 50%;

      top: 50%;

      @include transform(translate(-50%,-50%));

    }

    &:not(:nth-child(2n+1)){

      margin-left: 4px;

    }

    &.blue{

      background-image: linear-gradient(0deg,
              #0088af 0%,
              #4aaed7 0%,
              #94d4ff 0%,
              #d7f6fe 100%),
      linear-gradient(
                      #3cc24c,
                      #3cc24c);

      color: #3f9cd7;

    }

    &.green{

      background-image: linear-gradient(0deg,
              #0088af 0%,
              #4db8ae 0%,
              #9ae8ad 0%,
              #cefcec 100%),
      linear-gradient(
                      #3cc24c,
                      #3cc24c);

      color: #25c943;

    }

    &.orange{

      background-image: linear-gradient(0deg,
              #ffc3a5 0%,
              #fef0d8 100%),
      linear-gradient(
                      #3cc24c,
                      #3cc24c);

      color: #e3733b;

    }

  }

}

.module-detail-wrapper{

  position: absolute;

  display: none;

  max-width:548px;

  z-index: 5;

  left: 50%;

  bottom:48px;

  @include transform(translate(-50%));

  padding:0 50px;

  border-radius: 12px;

  background-color: rgba(255,255,255,0.9);

  @include  box-shadow(0 0 24px 0 rgba(0, 0, 0, 0.24));;

  .module-detail-name{

    font-size: 16px;

    height: 52px;

    line-height: 52px;

    text-align: center;

    @include textOverFlow;

  }

  .module-detail-item{

    float: left;

    width:88px;

    margin-bottom: 22px;

    &:not(:nth-child(4n+1)){

      margin-left:32px;

    }

  }

  .module-detail-item-icon{

    position: relative;

    width: 64px;

    height: 64px;

    line-height: 64px;

    font-size: 32px;

    margin: 0 auto;

    @include border-radius(12px);

    &>img{

      position: absolute;

      max-width: 48px;

      max-height: 48px;

      left: 50%;

      top: 50%;

      @include transform(translate(-50%,-50%));

    }

    &.blue{

      background-image: linear-gradient(0deg,
              #0088af 0%,
              #4aaed7 0%,
              #94d4ff 0%,
              #d7f6fe 100%),
      linear-gradient(
                      #3cc24c,
                      #3cc24c);

      color: #3f9cd7;

    }

    &.green{

      background-image: linear-gradient(0deg,
              #0088af 0%,
              #4db8ae 0%,
              #9ae8ad 0%,
              #cefcec 100%),
      linear-gradient(
                      #3cc24c,
                      #3cc24c);

      color: #25c943;

    }

    &.orange{

      background-image: linear-gradient(0deg,
              #ffc3a5 0%,
              #fef0d8 100%),
      linear-gradient(
                      #3cc24c,
                      #3cc24c);

      color: #e3733b;

    }

  }

  .module-detail-item-pic{

    width: 64px;

    height: 64px;

    margin: 0 auto;

    background-repeat: no-repeat;

    background-position: center;

    @include background-size(cover);

    @include border-radius(12px);

  }

  .module-detail-item-name{

    font-size: 14px;

    line-height: 1;

    margin-top: 10px;

    @include textOverFlow;

  }

}


