#TeacherCustomContent {
    .ant-tabs-bar {
        margin: 12px 0 0;
        border-bottom: 1px solid #3dc9ff;
    }
    .ant-tabs-tab {
        border: 1px solid #fff;
        border-bottom: 1px solid #3dc9ff;
        margin: 0 4px;
        // height: 42px;
        padding: 0;
        overflow: hidden;
        line-height: 42px;
        border-radius: 0;
        background-image: linear-gradient(0deg, rgba(187, 246, 255, 0.89) 0%, rgba(126, 217, 255, 0.89) 100%), linear-gradient(#bae6ff, #bae6ff);
        .my-tab {
            display: inline-block;
            font-size: 16px;
            line-height: 39px;
            height: 39px;
            width: 160px;
            text-align: center;
            color: #008fb3;
            .vertical {
                vertical-align: top;
                margin-left: 5px;
                font-size: 16px;
                color: #008fb3;
            }
            .tool {
                display: inline-block;
                width: 18px;
                height: 100%;
                background: url(../images/icon-tools.png) no-repeat center;
                background-size: contain;
            }
            .App {
                display: inline-block;
                width: 18px;
                height: 100%;
                background: url(../images/icon-App.png) no-repeat center;
                background-size: contain;
            }
            .Website {
                display: inline-block;
                width: 18px;
                height: 100%;
                background: url(../images/icon-Website.png) no-repeat center;
                background-size: contain;
            }
            .database {
                display: inline-block;
                width: 18px;
                height: 100%;
                background: url(../images/icon-database.png) no-repeat center;
                background-size: contain;
            }
        }
        &:nth-of-type(1) {
            margin-left: 12px;
        }
    }
    .ant-tabs-tab-active {
        border: 1px solid #3dc9ff;
        border-bottom: 1px solid #fff;
        background-color: #ffffff;
        line-height: 41px;
        background-image: none;
        .my-tab {
            .vertical {
                vertical-align: top;
                margin-left: 5px;
                font-size: 16px;
                color: #00a2ff;
            }
            .tool {
                display: inline-block;
                width: 18px;
                height: 100%;
                background: url(../images/icon-tools-selected.png) no-repeat center;
                background-size: contain;
            }
            .App {
                display: inline-block;
                width: 18px;
                height: 100%;
                background: url(../images/icon-App-selected.png) no-repeat center;
                background-size: contain;
            }
            .Website {
                display: inline-block;
                width: 18px;
                height: 100%;
                background: url(../images/icon-Website-selected.png) no-repeat center;
                background-size: contain;
            }
            .database {
                display: inline-block;
                width: 18px;
                height: 100%;
                background: url(../images/icon-database-selected.png) no-repeat center;
                background-size: contain;
            }
        }
    }
}

// Website
#Website,
#Tool,
#DataBase,
#app {
    // padding-top: 30px;
    overflow: auto;
    height: 682px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    .Card-protect {
        display: inline-block;
        // padding: 0 12px 12px;
        width: auto;
    }
    .main-box {
        position: relative;
        margin: 12px auto 0;
        // left: 50%;
        // margin-left: -545px;
        // margin-top: 12px;
        width: 1090px;
        // min-height: 213px;
        background-color: #fff;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(90deg, #8bb915 0%, #a2d923 100%);
        border-image-slice: 1;
        box-shadow: 7px 7px 5px -5px #a2d923;
        .no-drop {
            display: inline-block;
            height: 173px;
            line-height: 173px;
            text-align: center;
            font-size: 20px;
            color: #aaa;
            width: 100%;
        }
        .main-header {
            width: 1088px;
            height: 32px;
            background-image: linear-gradient(90deg, #8bb915 0%, #a2d923 100%), linear-gradient(#f5f5f5, #f5f5f5);
            line-height: 32px;
            text-align: left;
            font-size: 14px;
            color: #ffffff;
            padding: 0 13px;
        }
        .main-drop {
            width: 1090px;
            height: 185px;
            padding: 0 20px;
            overflow: hidden;
            // display: flex;
            // flex-flow: row wrap;
            // justify-content: flex-start;
            // align-items: center;
            &:last-of-type {
                padding: 0 20px 12px;
            }
            &:first-of-type {
                padding: 12px 20px 0;
            }
        }
    }
    .alter-box {
        position: relative;
        margin: 0 auto 20px;
        // left: 50%;
        // margin-left: -545px;
        width: 1090px;
        // min-height: 212px;
        // margin-bottom: 20px;
        background-color: #f2f2f2;
        .alter-header {
            height: 36px;
            padding: 0 12px;
            .header-icon-2 {
                display: inline-block;
                width: 41px;
                height: 36px;
                background: url(../images/icon-diamonds.png) no-repeat center;
                background-size: contain;
            }
            .header-icon-1 {
                display: inline-block;
                width: 8px;
                height: 36px;
                background: url(../images/icon-diamond.png) no-repeat center;
                background-size: contain;
            }
            .header-text {
                line-height: 36px;
                text-align: left;
                font-size: 14px;
                color: #333333;
                display: inline-block;
                vertical-align: top;
                margin: 0 5px;
            }
        }
        .alter-drop {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            width: 1090px;
            min-height: 176px;
            // min-height: 212px;
            padding: 4px 20px;
            overflow: hidden;
        }
    }
    .alter-box-2 {
        min-height: 176px;
        background-color: #fff;
    }
    .changeBox {
        position: relative;
        width: 1090px;
        height: 28px;
        margin: 15px auto;
        .box-tips {
            position: relative;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0px;
            color: #666666;
            .tips-1 {
                color: #999999;
            }
            .tips-2 {
                color: #ff0000;
            }
        }
        .SearchAlter {
            float: right;
        }
    }
    .my-Tips {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        padding: 0 8px;
        width: 100%;
        height: 30px;
        background-color: #fff4e4;
        .tips-left {
            float: left;
            height: 30px;
            .tips-icon {
                display: inline-block;
                width: 14px;
                height: 30px;
                background: url(../images/icon-warn.png) no-repeat center;
                background-size: 14px 14px;
            }
            .tips-text {
                display: inline-block;
                margin-left: 5px;
                vertical-align: top;
                font-size: 14px;
                line-height: 30px;
                color: #7182a8;
            }
        }
        .tips-handle {
            float: right;
            height: 30px;
            .handle-text {
                display: inline-block;
                vertical-align: top;
                font-size: 14px;
                line-height: 30px;
                color: #0099ff;
                margin-right: 5px;
                cursor: pointer;
                &:hover{

                    color: #ff6600;
                    
                }
            }
            .handle-cancel {
                display: inline-block;
                width: 14px;
                // right: 8px;
                height: 30px;
                background: url(../images/icon-close.png) no-repeat center;
                background-size: 14px 14px;
                cursor: pointer;
            }
        }
    }
    .add-box {
        height: 30px;
        width: 1090px;
        margin: 0 auto;
        // margin-top: 30px;
        .btn-add {
            // display: inline-block;
            cursor: pointer;
            float: right;
            width: 72px;
            height: 30px;
            // margin-top: 12px;
            background-image: linear-gradient(-90deg, #23a1fa 0%, #14b6f7 51%, #04caf4 100%), linear-gradient(#199aff, #199aff);
            border-radius: 3px;
            line-height: 30px;
            font-size: 14px;
            color: #ffffff;
            // margin: 0 auto;
            text-align: center;
            .add-icon {
                display: inline-block;
                width: 13px;
                // right: 8px;
                height: 30px;
                background: url(../images/icon-add.png) no-repeat center;
                background-size: 14px 14px;
                margin-right: 5px;
            }
            .add-text {
                display: inline-block;
                font-size: 14px;
                vertical-align: top;
                line-height: 30px;
                color: #ffffff;

            }

            &:hover{

                opacity: 0.8;

            }

        }
    }
}

.EditCombineCustomModal {
    .ant-modal-close-x path {
        color: #aaa;
    }
    .ant-modal-content {
        border-radius: 12px;
        padding: 12px 0;
        height: 555px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        .ant-modal-header {
            border: none;
            padding: 0;
            height: 64px;
            background: #fff;
            .ant-modal-title {
                .title {
                    height: 64px;
                    width: auto;
                    .titleBox {
                        position: relative;
                        display: inline-block;
                        left: 50%;
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        height: 64px;
                        max-width: 220px;
                    }
                    .titleSpan {
                        position: relative;
                        // left: 50%;
                        // transform: translateX(-50%);
                        // -webkit-transform: translateX(-50%);
                        // -moz-transform: translateX(-50%);
                        // -ms-transform: translateX(-50%);
                        // -o-transform: translateX(-50%);
                        line-height: 64px;
                        display: inline-block;
                        text-align: center;
                        font-size: 16px;
                        height: 64px;
                        color: #252525;
                        cursor: pointer;
                        max-width: 200px;
                        overflow: hidden; //超出一行文字自动隐藏
                        text-overflow: ellipsis; //文字隐藏后添加省略号
                        white-space: nowrap; //强制不换行
                    }
                    .icon-change {
                        display: inline-block;
                        width: 14px;
                        margin-left: 4px;
                        cursor: pointer;
                        height: 64px;
                        background: url(../images/icon-change.png)no-repeat center center / contain;
                    }
                    .ant-input {
                        // border: none!important;
                        width: auto;
                        position: relative;
                        left: 50%;
                        top: 50%;
                        transform: translate3D(-50%, -50%, 0);
                        -webkit-transform: translate3D(-50%, -50%, 0);
                        -moz-transform: translate3D(-50%, -50%, 0);
                        -ms-transform: translate3D(-50%, -50%, 0);
                        -o-transform: translate3D(-50%, -50%, 0);
                        text-align: center;
                        display: inline-block;
                        font-size: 16px;
                        line-height: 1;
                    }
                }
            }
        }
        .ant-modal-body {
            padding: 0;
            height: 468px;
        }
    }
}

.ant-modal-close-x {
    path {
        color: #fff
    }
}