.Content {
    padding: 20px 36px;
    position: relative;
    width: 100%;
    min-height: 626px;
    .Content-top {
        position: relative;
        margin-left: 15px;
        // margin: 0;
        height: 37px;
        .top-tips {
            float: left;
            .tips {
                font-size: 18px;
                line-height: 37px;
                color: #333333;
                padding-left: 21px;
                margin-left: -21px;
                background-size: 17px 17px;
                background-position: left center;
            }
        }
        .top-nav {
            float: right;
            .link {
                color: #0099ff;
                font-size: 14px;
                line-height: 37px;
                text-decoration: underline;
                &:hover {
                    color: #ff6600;
                    .Graduate {
                        background: url($img-url + "/Common/Content/icon-checkFile-active.png") no-repeat left center;
                        background-size: 14px 16px;
                    }
                    .RegisterExamine {
                        background: url($img-url + "/Common/Content/icon-register-active.png") no-repeat left center;
                        background-size: 14px 16px;
                    }
                    .add {
                        background: url($img-url + "/Common/Content/icon-add-active.png") no-repeat left center;
                        background-size: 12px 12px;
                    }
                    .addMajor {
                        background: url($img-url + "/Common/Content/设置-荀婷.png") no-repeat left center;
                        background-size: 16px 16px;
                    }
                    .ImportFile {
                        background: url($img-url + "/Common/Content/icon-import-active.png") no-repeat left center;
                        background-size: 16px 16px;
                    }
                    .Export {
                        background: url($img-url + "/Common/Content/icon-Export-hover.png") no-repeat left center;
                        background-size: 16px 16px;
                    }
                    .record {
                        background: url($img-url + "/Common/Content/icon-checkFile-active.png") no-repeat left center;
                        background-size: 14px 16px;
                    }
                }
                .Graduate {
                    padding-left: 18px;
                    background: url($img-url + "/Common/Content/icon-checkFile.png") no-repeat left center;
                    background-size: 14px 16px;
                }
                .RegisterExamine {
                    position: relative;
                    padding-left: 18px;
                    background: url($img-url + "/Common/Content/icon-register.png") no-repeat left center;
                    background-size: 14px 16px;
                    .have-red {
                        background-color: red;
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        position: absolute;
                        top: -4px;
                        right: -6px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                }
                .add {
                    padding-left: 16px;
                    background: url($img-url + "/Common/Content/icon-add.png") no-repeat left center;
                    background-size: 12px 12px;
                }
                .ImportFile {
                    padding-left: 20px;
                    background: url($img-url + "/Common/Content/icon-import.png") no-repeat left center;
                    background-size: 16px 16px;
                }
                .Export {
                    padding-left: 20px;
                    background: url($img-url + "/Common/Content/icon-Export.png") no-repeat left center;
                    background-size: 16px 16px;
                }
                .addMajor {
                    padding-left: 20px;
                    background: url($img-url + "/Common/Content/设置.png") no-repeat left center;
                    background-size: 16px 16px;
                }
                .record {
                    background: url($img-url + "/Common/Content/icon-checkFile.png") no-repeat left center;
                    background-size: 14px 16px;
                    padding-left: 18px;
                }
            }
            .divide {
                position: relative;
                font-size: 14px;
                color: #c9e1f0;
                top: -1px;
                margin: 0 12px;
            }
        }
    }
    .Content-hr {
        position: relative;
        border-top: 1px dashed #ccc;
        width: calc(100% - 15px);
        margin-left: 15px;
    }
    .Content-handle {
        position: relative;
        // margin-left: 15px;
        margin: 18px auto 0;
        min-height: 28px;
        border: none;
        .dropTitle {
            float: left;
            line-height: 28px;
            color: #333333;
            font-size: 14px;
        }
        .dropdown_select_ul {
            z-index: 2;
        }
        .dropdown_wrapper:nth-of-type(2) {
            margin-left: 0;
            margin-right: 3px;
        }
        .dropdown_container {
            float: left;
        }
        .Search {
            float: right;
            .search-tips {
                color: #000;
                font-size: 14px;
                text-align: right;
                float: right;
                line-height: 28px;
                margin-right: 10px;
                .Total {
                    color: red;
                    // font-weight: bold;
                }
            }
            .search_container {
                float: right;
            }
        }
    }
    .Content-table {
        position: relative;
        margin-top: 18px;
        .ant-table-thead>tr>th {
            padding: 0;
        }
        .table {
            .ant-table-thead {
                th:nth-child(2) {
                    // text-align: left;
                    padding-left: 60px;
                }
                th {
                    padding: 0;
                }
            }
            .ant-table-row {
                td:nth-child(2),
                td:nth-child(3) {
                    padding: 10px 0;
                }
                td {
                    padding: 10px 0;
                    line-height: 1;
                }
                td:nth-child(1) {
                    padding-left: 20px;
                }
            }
            .key-content {
                font-size: 14px;
                line-height: 23px;
                color: #999;
                margin: 0 0 0 3px;
            }
            .name-key {
                font-size: 14px;
                line-height: 23px;
                color: #999;
                margin: 0 3px;
            }
            .name-img {
                margin: 0 6px;
                cursor: pointer;
                border-radius: 3px;
                border: 1px solid #999;
                object-fit: cover;
            }
            .name-UserName {
                text-decoration: underline;
                color: #333;
                height: 20px;
                line-height: 20px;
                font-size: 16px;
                cursor: pointer;
                display: inline-block;
                text-align: left;
                width: 90px;
                overflow: hidden; //超出一行文字自动隐藏
                text-overflow: ellipsis; //文字隐藏后添加省略号
                white-space: nowrap; //强制不换行
            }
            .UserID {
                font-size: 14px;
                color: #999;
                height: 17px;
                display: inline-block;
                width: 95px;
                overflow: hidden; //超出一行文字自动隐藏
                text-overflow: ellipsis; //文字隐藏后添加省略号
                white-space: nowrap; //强制不换行
            }
            .Grader {
                font-size: 14px;
                color: #999;
            }
            .Year {
                font-size: 14px;
                color: #999;
            }
            .GradeName {
                font-size: 14px;
                color: #333;
            }
            .Class {
                font-size: 14px;
                color: #666;
                width: 100%;
                overflow: hidden; //超出一行文字自动隐藏
                text-overflow: ellipsis; //文字隐藏后添加省略号
                white-space: nowrap; //强制不换行
            }
            .JobType-box {
                // display: flex;
                // flex-flow: column nowrap;
                // justify-content: flex-start;
                span {
                    text-align: center;
                    font-size: 14px;
                    line-height: 16px;
                    color: #999;
                }
                .JobType {
                    color: #002871;
                    display: inline-block;
                    width: 100%;
                    overflow: hidden; //超出一行文字自动隐藏
                    text-overflow: ellipsis; //文字隐藏后添加省略号
                    white-space: nowrap; //强制不换行
                }
                .Discription {
                    display: inline-block;
                    width: 100%;
                    overflow: hidden; //超出一行文字自动隐藏
                    text-overflow: ellipsis; //文字隐藏后添加省略号
                    white-space: nowrap; //强制不换行
                }
                .HasTrack {
                    color: #999;
                }
            }
            .Telephone {
                color: #333;
                width: 100%;
                overflow: hidden; //超出一行文字自动隐藏
                text-overflow: ellipsis; //文字隐藏后添加省略号
                white-space: nowrap; //强制不换行
            }
            .MyClass {
                font-size: 14px;
                color: #666;
                .CollegeMajor {
                    line-height: 20px;
                    display: inline-block;
                    width: 220px;
                    overflow: hidden; //超出一行文字自动隐藏
                    text-overflow: ellipsis; //文字隐藏后添加省略号
                    white-space: nowrap; //强制不换行
                }
                .GradeClass {
                    line-height: 20px;
                    display: inline-block;
                    width: 220px;
                    overflow: hidden; //超出一行文字自动隐藏
                    text-overflow: ellipsis; //文字隐藏后添加省略号
                    white-space: nowrap; //强制不换行
                }
            }
            .MyGroup,
            .Title {
                font-size: 14px;
                color: #666;
                line-height: 20px;
                display: inline-block;
                width: 220px;
                overflow: hidden; //超出一行文字自动隐藏
                text-overflow: ellipsis; //文字隐藏后添加省略号
                white-space: nowrap; //强制不换行
            }
            .Position {
                font-size: 14px;
                color: #666;
                line-height: 20px;
                display: inline-block;
                width: 220px;
                overflow: hidden; //超出一行文字自动隐藏
                text-overflow: ellipsis; //文字隐藏后添加省略号
                white-space: nowrap; //强制不换行
            }
            .ant-checkbox-gray .ant-checkbox {
                top: -3px;
            }
            .handle-content {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
            .handle-btn {
                float: right;
                height: 24px;
                width: 56px;
                line-height: 24px;
                // padding-left: 0 14px;
                font-size: 14px;
                padding: 0;
                text-align: center;
                margin-right: 3px;
            }
            .check-btn {
                float: right;
                height: 24px;
                width: 100px;
                line-height: 24px;
                font-size: 14px;
                padding: 0;
                text-align: center;
                margin-right: 2px;
            }
        }
        .checkAll-box {
            margin-top: 10px;
            margin-left: 20px;
            .checkAll-title {
                // vertical-align: text-bottom;
                height: 28px;
                line-height: 28px;
            }
        }
        .deleteAll {
            color: #fff;
            width: 56px;
            line-height: 28px;
            height: 28px;
            padding: 0;
            text-align: center;
            margin-left: 8px;
            border: none;
            font-size: 14px;
            span {
                vertical-align: baseline;
            }
            // box-sizing: content-box;
        }
        .pagination-box {
            margin-top: 10px;
            float: right;
        }
    }
}