#All {
    position: relative;
    // padding: 22px 32px;
    text-align: center;
    //公用
    .All-box {
        position: relative;
        text-align: left;
    }
    .All-tips {
        position: relative;
        height: auto;
        margin: 0;
        .tips {
            font-size: 18px;
            line-height: 37px;
            color: #333333;
            padding-left: 21px;
            background-size: 17px 17px;
            background-position: left center;
        }
    }
    .All-content {
        // width: 860px;
        height: 272px;
        margin: 0 auto 40px;
        background-color: #f5f5f5;
        #all-user-content {
            // width: 860px;
            height: 272px;
        }
    }
    .user-content {
        .echarts-tips {
            position: absolute;
            left: 608px;
            top: 160px;
            p {
                margin: 5px;
            }
            .tips-1 {
                font-size: 16px;
                line-height: 25px;
                color: #333333;
                text-align: center;
            }
            .tips-2 {
                position: relative;
                font-size: 14px;
                line-height: 20px;
                color: #666666;
                text-align: left;
                span {
                    display: inline-block;
                    margin-right: 5px;
                }
                .tips-icon-1 {
                    background-image: linear-gradient(45deg, #7c7cfc 0%, #42cfff 100%);
                    width: 18px;
                    height: 12px;
                    border-radius: 3px;
                }
                .tips-icon-2 {
                    background-image: linear-gradient(90deg, #ffa800 0%, #fb3737 100%);
                    width: 18px;
                    height: 12px;
                    border-radius: 3px;
                }
                .tips-icon-3 {
                    background-image: linear-gradient(90deg, #90b915 0%, #d9ff81 100%);
                    width: 18px;
                    height: 12px;
                    border-radius: 3px;
                }
                .tips-icon-4 {
                    background-image: linear-gradient(90deg, #905555 0%, #d99999 100%);
                    width: 18px;
                    height: 12px;
                    border-radius: 3px;
                }
            }
        }
    }
    .All-hr {
        position: relative;
        border-top: 1px dashed #ccc;
        // width: 858px;
        left: 11px;
        margin: 0 auto 20px;
    }
    .menu10 {
        background: url($img-url + "/Common/TimeBanner/menu-icon1-hover.png") no-repeat left center / 16px;
    }
}