#Leader {
    .Leader-box {
        position: relative;
        text-align: left;
        margin: 0 auto;
        // width: 870px;
        .Content-top {
            .tips {
                background: url($img-url+'/Common/TimeBanner/menu-icon18-hover.png') no-repeat left center /17px;
            }
        }
        .Content-table {}
    }
}