@mixin TextOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p {
    margin: 0;
}

.StuResult {
    padding-top: 24px;
    padding-bottom: 42px;
    .SR-top {
        height: 42px;
        padding-left: 102px;
        margin-bottom: 10px;
        .SRt-left {
            float: left;
            position: relative;
            .SRtl-bar {
                width: 90px;
                height: 32px;
                display: inline-block;
                vertical-align: top;
                line-height: 28px;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                color: #034069;
                background: url(../images/选项卡-未选中背景.png) no-repeat center top / 90px 28px;
                &.SRtl-bar-select {
                    color: #ffffff;
                    background: url(../images/选项卡-选中背景.png) no-repeat center top / 90px 32px;
                }
            }
            .devide {
                width: 1px;
                height: 28px;
                display: inline-block;
                vertical-align: top;
                margin: 0 5px;
                background: url(../images/选项卡-分界线.png) no-repeat center center / contain;
            }
        }
        .SRt-go {
            float: right;
            margin-right: -20px;
            margin-top: 6px;
            // line-height: 30px;
            // padding-left: 19px;
            // font-size: 14px;
            // cursor: pointer;
            // text-decoration: underline;
            // opacity: 0.8;
            // background: url(../images/详情.png) no-repeat left center / 15px 15px;
            // color: #0086e3;
            // &:hover {
            //     opacity: 1;
            // }
        }
    }
    .Result-type-bar {}
    #NearExam {
        padding-top: 28px;
        .NE-title {
            line-height: 38px;
            font-size: 18px;
            font-weight: blod;
            text-align: left;
            color: #009900;
            @include TextOverflow();
        }
        .NE-Msg {
            line-height: 32px;
            font-size: 14px;
            text-align: left;
            color: #999999;
            .NEm-type {
                display: inline-block;
                vertical-align: top;
                padding-right: 20px;
                max-width: 20%;
                @include TextOverflow();
                span {
                    color: #333333;
                }
            }
            .NEm-Sub {
                display: inline-block;
                vertical-align: top;
                padding-right: 20px;
                max-width: 50%;
                @include TextOverflow();
                span {
                    color: #333333;
                }
            }
            .NEm-Time {
                display: inline-block;
                vertical-align: top;
                padding-right: 20px;
                max-width: 30%;
                @include TextOverflow();
                span {
                    color: #333333;
                }
            }
        }
        .NE-box {
            position: relative;
            width: 1088px;
            height: 192px;
            background-color: #eff3f7;
            border-radius: 6px;
            margin-top: 18px;
            .NEb-content {
                position: absolute;
                height: 100%;
                //margin: 0 auto;
                width: 660px;
                margin-left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                .NEbc-box {
                    width: 220px;
                    height: 100%;
                    padding: 34px 62px 0;
                    display: inline-block;
                    vertical-align: top;
                }
                .Progress-RankGrade,
                .Progress-TotalScore,
                .Progress-RankClass {
                    width: 96px;
                    height: 96px;
                    line-height: 96px;
                }
                .Progress-RankClass {
                    background: url(../images/考试-总分.png)no-repeat center center /contain;
                    .Progress-content {
                        font-size: 24px;
                        line-height: 20px;
                        color: #008fff;
                        display: inline-block;
                        text-align: center;
                        width: 100%;
                        span {
                            font-size: 16px;
                            line-height: 24px;
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                }
                .Progress-TotalScore {
                    background: url(../images/考试-班级排名.png)no-repeat center center /contain;
                    .Progress-content {
                        font-size: 24px;
                        line-height: 20px;
                        color: #438600;
                        display: inline-block;
                        text-align: center;
                        width: 100%;
                    }
                }
                .Progress-RankGrade {
                    background: url(../images/考试-年级排名.png)no-repeat center center /contain;
                    .Progress-content {
                        font-size: 24px;
                        line-height: 20px;
                        color: #ff596c;
                        display: inline-block;
                        text-align: center;
                        width: 100%;
                    }
                }
                .Progress-title {
                    line-height: 44px;
                    text-align: center;
                    @include TextOverflow();
                    color: #333333;
                }
            }
        }
        .NE-Details {
            padding: 36px 0;
            .Sub-score-box {
                width: 181px;
                display: inline-block;
                vertical-align: top;
                .Ssb-Score {
                    display: block;
                    text-align: center;
                    font-size: 36px;
                    height: 40px;
                    line-height: 28px;
                    color: #656565;
                    span {
                        display: inline-block;
                        vertical-align: top;
                        margin-left: -7px;
                        font-size: 18px;
                        line-height: 40px;
                    }
                    border-right: 1px solid #dedede;
                }
                .Ssb-Sub {
                    display: block;
                    text-align: center;
                    height: 48px;
                    line-height: 48px;
                    font-size: 14px;
                    color: #656565;
                }
                &:last-of-type {
                    .Ssb-Score {
                        border: none;
                    }
                }
            }
            .score-1 {
                .Ssb-Score {
                    color: #fd8276;
                }
            }
            .score-2 {
                .Ssb-Score {
                    color: #0db58f;
                }
            }
            .score-3 {
                .Ssb-Score {
                    color: #8099ff;
                }
            }
        }
    }
    #TermReport {
        padding: 10px 0;
        .TR-box {
            width: calc(100% + 24px);
            margin-left: -12px;
            .ReportCard {
                margin: 12px;
                width: 254px;
                height: 152px;
                display: inline-block;
                vertical-align: top;
                &.RC-A {
                    background: url(../images/成绩信息-A.png) no-repeat center center / contain;
                    .RC-Msg {
                        .RCM-content {
                            .RCMc-top {
                                color: #fe7196;
                            }
                        }
                    }
                }
                &.RC-B {
                    background: url(../images/成绩信息-B.png) no-repeat center center / contain;
                    .RC-Msg {
                        .RCM-content {
                            .RCMc-top {
                                color: #0db58f;
                            }
                        }
                    }
                }
                &.RC-C {
                    background: url(../images/成绩信息-C.png) no-repeat center center / contain;
                    .RC-Msg {
                        .RCM-content {
                            .RCMc-top {
                                color: #6d91ff;
                            }
                        }
                    }
                }
                .SubjectName {
                    width: 254px;
                    height: 56px;
                    line-height: 56px;
                    padding: 0 18px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #ffffff;
                    @include TextOverflow();
                }
                .RC-Msg {
                    padding: 20px 0;
                    .RCM-content {
                        display: inline-block;
                        vertical-align: top;
                        width: calc(50% - 0.5px);
                        .RCMc-top {
                            height: 32px;
                            line-height: 32px;
                            width: 100%;
                            font-size: 32px;
                            text-align: center;
                            font-weight: bold;
                            @include TextOverflow();
                        }
                        .RCMc-bottom {
                            font-size: 14px;
                            text-align: center;
                            line-height: 24px;
                            color: #999999;
                        }
                    }
                    .devide {
                        width: 1px;
                        display: inline-block;
                        vertical-align: top;
                        height: 100%;
                    }
                }
            }
        }
        .TR-bottom {
            padding-top: 12px;
            .TRt-left {
                float: left;
                width: 85px;
                line-height: 54px;
                // padding-right: 12px;
                font-size: 14px;
                color: #333333;
            }
            .TRt-right {
                float: left;
                padding: 16px;
                width: calc(100% - 85px);
                text-align: left;
                font-size: 14px;
                line-height: 20px;
                color: #333333;
                background-color: #eff3f7;
                border-radius: 6px;
                .none {
                    color: #ff0000;
                }
            }
        }
    }
}